<div class="container">

  <form [formGroup]="reportForm">
    <div class="form-row">

      <div class="form-group col-md-2">
        <button (click)="generateTable()" class="btn float-left btn-sm mt-4 styledButton " color="primary" mdbBtn
                mdbWavesEffect
                type="button">
          Generate report <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
        </button>
      </div>

      <div class="form-group col-md">
        <label for="inputStartDate">Start date</label>
        <input [ngClass]="{ 'is-invalid': submitted && reportForm.controls.startDate.errors}"
               class="form-control"
               formControlName="startDate"
               id="inputStartDate"
               max="3000-01-01"
               min="2000-01-01"
               type="date"/>

        <div *ngIf="submitted && reportForm.controls.startDate.errors" class="invalid-input">
          <div *ngIf="reportForm.controls.startDate.errors.required">Field is required</div>
        </div>
      </div>

      <div class="form-group col-md">

        <label for="inputEndDate">End date</label>
        <input [ngClass]="{ 'is-invalid': submitted && reportForm.controls.endDate.errors}"
               class="form-control"
               formControlName="endDate"
               id="inputEndDate"
               max="3000-01-01"
               min="2000-01-01"
               type="date"/>

        <div *ngIf="submitted && reportForm.controls.endDate.errors" class="invalid-input">
          <div *ngIf="reportForm.controls.endDate.errors.required">Field is required</div>
          <div *ngIf="reportForm.controls.endDate.errors.dateOrder">Wrong date order</div>
        </div>

      </div>

      <div class="form-group col-md">

        <label for="discountEditType">Service type</label>
        <select class="form-control"
                formControlName="serviceType"
                id="discountEditType"
                [ngClass]="{'is-invalid': submitted && reportForm.controls.serviceType.errors}">
          <option *ngFor="let serv of services" [value]="serv.value">{{serv.viewValue}}</option>
        </select>

        <div *ngIf="submitted && reportForm.controls.serviceType.errors" class="invalid-input">
          <div *ngIf="reportForm.controls.serviceType.errors.required">Field is required</div>
        </div>
      </div>

    </div>

  </form>


  <div class="row">
    <div class="container table-container">
      <div class="mat-elevation-z8 card card-layout table-layout">
        <div class="card-header">Statistic</div>
        <div class="card-body">

          <mat-table [dataSource]="dataSource">
            <!-- Item Column -->

            <ng-container matColumnDef="location">
              <mat-header-cell *matHeaderCellDef> Location</mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.location}}</mat-cell>

            </ng-container>

            <!-- Cost Column -->
            <ng-container matColumnDef="numberTour">
              <th *matHeaderCellDef mat-header-cell mat-header-cell> Number</th>
              <td *matCellDef="let element" mat-cell mat-cell> {{element.numberTour}}</td>

            </ng-container>

            <ng-container matColumnDef="price">
              <th *matHeaderCellDef mat-header-cell mat-header-cell> Price</th>
              <td *matCellDef="let element" mat-cell mat-cell> {{element.price}}</td>
            </ng-container>

            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

          </mat-table>

        </div>
      </div>
    </div>
  </div>

  <!--<div class="container">-->
  <!--<data-table [records]="dataSource"-->
  <!--[tableName]="tableName"-->
  <!--[settings]="usersTableSettings">-->
  <!--</data-table>-->
  <!--</div>-->


  <div class="row">
    <div class="form-group col-lg-3">
      <button (click)="exportAsXLSX()" class="btn float-left btn-sm styledButton" color="primary" mdbBtn mdbWavesEffect
              type="button">
        Generate Excel
      </button>
    </div>
  </div>


</div>
