.cdk-column-numberTour {
  padding-right: 10%;
  width: 45%;
  padding-left: 5%;
}

.cdk-column-price {
  width: 45%;
}

.cdk-column-location {
  width: 130%;
  padding-right: 60px;
  padding-left: 60px;
}


