<div class="offset-3"></div>
<div class="col-6 container container-layout" *ngIf="isViewable">
  <app-child></app-child>
  <div class="row btn-panel">
    <div class="col-12">
      <button [disabled]="isDisabled" type="button" (click)="pay()" class="btn btn-info btn-md btn-not">
        Pay
      </button>
    </div>
  </div>
</div>
<div class="col-6 container container-layout" *ngIf="!isViewable">
  <h3>
    ORDER COMPLETED
  </h3>
</div>
<div class="offset-3"></div>
