.container-layout {
  text-align: center;
  margin-top: 15%;
}

.btn-not {
  width: 100%;
  margin-left: 0;
  alignment: center;
  max-width: 20%;
  background-color: #2E294E !important;
}

.btn-panel {
  padding: 0 5px 0 5px;
}
