.img-brand {
  width: 25px;
  height: 25px;
  margin-bottom: 2px;
}

.navbar {
  margin-bottom: 30px;
}

.bg-dark {
  /*background-color: #100123 !important;*/
  background-color: #2E294E !important;
}

span {
  color: #C8E0F4;
  font-weight: bolder;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-radius: 5px;
  font-size: 20px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  border-spacing: 5px;
  z-index: 1;
}

.dropdown-content:hover {
  background-color: #aaaaaa;
}

.message-btn {
  background-color: Transparent;
  outline: none;
  margin-right: 5px;
}

.white-icon {
  color: white;
  cursor: pointer;
}

.notify-btn {
  background-color: Transparent
}

.modal-notification {
  margin-top: 50px
}

.userPicHeader {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  margin-left: 8px;
  cursor: pointer;
}
