<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" routerLink="/">
    <img alt="brandImg" class="img-brand" src="../../../assets/images/java.png">
    <span style="color: #E7E6F7;"> TripGod</span>
  </a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar"
          aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse flex-row-reverse" id="navbar">

    <div *ngIf="isLoggedIn()">
      <ul class="navbar-nav mr-1">
        <li *ngIf="authority == 'ROLE_USER'">
          <app-user-basket></app-user-basket>
        </li>
        <li>
          <button class="message-btn" mat-mini-fab routerLink="/chat">
            <img alt="envelopeImg" src="../../../assets/images/email-outline.png">
          </button>
        </li>
        <app-notification-ring *ngIf="authority == 'ROLE_USER' || authority == 'ROLE_PROVIDER' || authority == 'ROLE_APPROVER'"></app-notification-ring>
        <li class="nav-item">
          <!--<a class="nav-link" routerLink="/account">Welcome, {{username}}</a>-->
          <!-- test variant -->
          <a class="nav-link inline" routerLink="/account" style="padding: 2px 0 0 0; margin: 0 2px 0 2px">
            <img alt="User pic"
                 src="{{gravatar.getGravatarLink(token.email)}}?s=37&d=mp"
                 class="img-responsive userPicHeader cursor-custom"/>
            {{token.username}}
          </a>

        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" routerLink="/login">Logout</a>
        </li>
      </ul>
    </div>

    <div *ngIf="!isLoggedIn()">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/registration">Sign up</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br><br>
