.white-icon {
  color: white;
  cursor: pointer;
}

.notify-btn {
  background-color: Transparent;
  outline: none;
}

.modal-notification {
  margin-top: 50px;
}

strong {
  font-weight: bold;
}

small {
  float: right;
}

u:hover {
  cursor: pointer;
}

.header-layout {
  background-color: #2E294E !important;
  padding: 5px 5px 5px 10px;
}

.overflow {
  max-height: 500px;
}

.btn-not {
  width: 100%;
  margin-left: 0;
  alignment: center;
  background-color: #2E294E !important;
}

.btn-panel {
  padding: 0 5px 0 5px;
}

strong {
  font-weight: bold;
}

small {
  float: right;
}

u:hover {
  cursor: pointer;
}


