<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">

        <mat-card-header>
          <mat-card-title>
            Sales
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="dashboard-card-content">
          <div class="chart">
            <canvas (chartClick)="pieClicked($event)"
                    (chartHover)="pieHovered($event)"
                    [chartType]="pie"
                    [colors]="pieColors"
                    [datasets]="pieDataSets"
                    [labels]="pieLabels"
                    [legend]="true"
                    [options]="pieOptions"
                    mdbChart>
            </canvas>
          </div>
        </mat-card-content>

      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Views
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="chart">
            <canvas (chartClick)="pieClicked($event)"
                    (chartHover)="pieHovered($event)"
                    [chartType]="pieOfViews"
                    [colors]="pieColorsOfViews"
                    [datasets]="pieDataSetsOfViews"
                    [labels]="pieLabelsOfViews"
                    [legend]="true"
                    [options]="pieOptionsOfViews"
                    mdbChart>
            </canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
