<div class="row my-3">
  <div class="container">
    <app-service-buttons
      *ngIf="authority == 'ROLE_PROVIDER' || authority == 'ROLE_APPROVER' || authority == 'ROLE_ADMIN'"
      [trip]=trip
      (editEvent)="updateTripData($event)">
    </app-service-buttons>
    <div class="row">
      <div *ngIf="trip.imgSrc !== null && trip.imgSrc !== ''" class="col-md-8">
        <img alt="tripImg" class="img-responsive mainImage" src="{{trip.imgSrc}}"/>
      </div>

      <div *ngIf="trip.imgSrc === null || trip.imgSrc === ''" class="col-md-8">
        <!--<img-->
        <!--alt="defaultTripImg"-->
        <!--class="img-responsive mainImage"-->
        <!--src="https://secure.instantsoftwareonline.com/StayUSA/PropertyImages/2397/PD%2077820%20MountainView/L1.jpg?h=eS9IOEloWWlmNEc4WTArNVhzTkg1QT09"/>-->
        <img
          alt="defaultTripImg"
          class="img-responsive mainImage"
          src="https://filetandvine.com/wp-content/uploads/2015/07/pix-uploaded-placeholder.jpg"/>
      </div>


      <div class="col-md-4 px-3 card headerCard">

        <div class="row pt-3">
          <div class="col-md-12 myHeaderText text-center">
            <b>{{trip.name}}</b>
          </div>
        </div>

        <div class="row py-0">
          <div class="col-md-12 myHeaderText text-center">

            <ng-template #t let-fill="fill">
              <span [class.full]="fill === 100" class="star">
                <span [style.width.%]="fill" class="half">&#9733;</span>&#9733;
              </span>
            </ng-template>

            <ngb-rating [(rate)]="currentRating" [max]="5" [readonly]="true" [starTemplate]="t"></ngb-rating>

          </div>
        </div>

        <div class="row pt-0">
          <div class="offset-md-1"></div>
          <div class="col-md-5 myText text-left">
            <i class="fas fa-users"></i> {{trip.numberOfPeople}}
          </div>

          <div class="offset-md-1"></div>

          <div *ngIf="trip.discount != null
            && checkDiscount(trip.discount.startDate, trip.discount.endDate)" class="col-md-5 myText text-left">
            <div class="row">
              <div class="col-md-2">
                <i class="fas fa-dollar-sign"></i>
              </div>

              <div class="col-md-10">
                <div class="row">
                  <div class="discountedPrice">
                    {{discountedPrice(trip.price, trip.discount.type,
                    trip.discount.amount)}}
                  </div>
                </div>

                <div class="row">
                  <del class="oldPrice"> {{trip.price}}</del>
                </div>
              </div>

            </div>
          </div>

          <div *ngIf="trip.discount == null ||
            !checkDiscount(trip.discount.startDate, trip.discount.endDate)" class="col-md-5 myText text-left">
            <div style="font-size: 25px;">
              <i class="fas fa-dollar-sign"></i> {{trip.price}}
            </div>
          </div>

        </div>

        <div class="row pt-2">
          <div class="offset-md-1"></div>
          <div *ngIf="trip.oneWay" class="col-md-5 myText text-left">
            <i class="fas fa-long-arrow-alt-right"></i> One-way
          </div>
          <div *ngIf="!trip.oneWay" class="col-md-5 myText text-left">
            <i class="fas fa-exchange-alt"></i> Return
          </div>


          <div class="offset-md-1"></div>
          <div class="col-md-5 myText text-left">
            <i class="fas fa-eye"></i> {{views}}
          </div>
        </div>

        <div class="row pt-2">
          <div class="offset-md-1"></div>

          <!--<div class="col-md-5 text-left" style="font-size: 20px;">-->
          <!--<div class="row">-->
          <!--<i class="fas fa-plane-departure myText mr-1"></i>  {{trip.location.name}},-->
          <!--</div>-->

          <!--<div class="row">-->
          <!--{{trip.location.country.name}}-->
          <!--</div>-->
          <!--</div>-->

          <!--<div class="offset-md-1"></div>-->

          <!--<div class="col-md-5 text-left" style="font-size: 20px;">-->
          <!--<div class="row">-->
          <!--<i class="fas fa-plane-arrival myText mr-1"></i>  {{trip.destination.name}},-->
          <!--</div>-->

          <!--<div class="row">-->
          <!--{{trip.destination.country.name}}-->
          <!--</div>-->
          <!--</div>-->

          <div class="col-md-5 myText text-left">
            <i class="fas fa-plane-departure"></i> {{trip.location.name}}
          </div>

          <div class="offset-md-1"></div>
          <div class="col-md-5 myText text-left">
            <i class="fas fa-plane-arrival"></i> {{trip.destination.name}}
          </div>
        </div>

        <div class="row pt-2 mb-2">
          <div class="offset-md-1"></div>
          <div class="col-md-11 myText text-left">
            <i class="fas fa-user-tie"></i> <a routerLink="/provider/{{trip.provider.id}}">
            {{trip.provider.username}}</a>
          </div>
        </div>

        <div class="row mt-auto mb-3">
          <div class="offset-md-2"></div>
          <div class="col-md-8">
            <button [hidden]="isDisabled || authority != 'ROLE_USER'" (click)=addToBasket(trip) block="true"
                    class="buyButton styledButton text-coloured mx-auto"
                    color="deep-purple"
                    mat-stroked-button
                    mdbBtn
                    mdbWavesEffect>
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row descriptionText mt-3">

      <div class="col-md-12 py-3 card roundedCard">
        <div class="row">
          <div class="col-md-12">
            <div class="row px-5">
              <b>Description:</b>
            </div>

            <div class="row px-4">
              {{trip.description}}
            </div>
          </div>
        </div>
      </div>
    </div>


    <agm-map [latitude]="(trip.location.coordinate.latitude+trip.destination.coordinate.latitude)/2"
             [longitude]="(trip.location.coordinate.longitude+trip.destination.coordinate.longitude)/2" [zoom]="2"
             class="mt-3 googleMap" style="height: 300px">

      <agm-marker [latitude]="trip.location.coordinate.latitude"
                  [longitude]="trip.location.coordinate.longitude"
                  [markerClickable]="false"
                  [markerDraggable]="false"
      ></agm-marker>
      <agm-marker [latitude]="trip.destination.coordinate.latitude"
                  [longitude]="trip.destination.coordinate.longitude"
                  [markerClickable]="false"
                  [markerDraggable]="false"
      ></agm-marker>


      <agm-polyline [editable]="false">
        <agm-polyline-point
          [latitude]="trip.location.coordinate.latitude"
          [longitude]="trip.location.coordinate.longitude"
        >
        </agm-polyline-point>
        <agm-polyline-point
          [latitude]="trip.destination.coordinate.latitude"
          [longitude]="trip.destination.coordinate.longitude"
        >
        </agm-polyline-point>
      </agm-polyline>
    </agm-map>

    <div class="row mt-3" *ngIf="trip.suggestions.length != 0">
      <div *ngFor="let suggestion of trip.suggestions" class="col-md-4 descriptionText">
        <div class="py-3 mx-2 mb-1 card roundedCard">
          <div class="row">
            <div class="col-md-12 px-auto text-center">
              <b>{{suggestion.name}}</b>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-12 px-4">
              {{suggestion.description}}
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-12 pl-4">
              <div class="row">
                <b>Included:</b>
              </div>

              <div class="row" style="align-items: center">
                <i class="fas fa-circle pr-1" style="font-size: 10px;"></i>Trip
              </div>

              <div *ngFor="let service of suggestion.services">
                <div class="row" style="align-items: center">
                  <i class="fas fa-circle pr-1" style="font-size: 10px;"></i>{{service.name}}
                  <div class="pl-2">
                    (<i class="fas fa-dollar-sign pr-1" style="font-size: 20px;"></i>{{service.price}})
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div *ngIf="suggestion.discount != null
            && checkDiscount(suggestion.discount.startDate, suggestion.discount.endDate)"
                 class="col-md-8 pl-3">
              <div style="font-size: 25px;">
                <div class="row">
                  <div class="col-md-1 pr-1 pl-auto">
                    <i class="fas fa-dollar-sign"></i>
                  </div>

                  <div class="col-md-8 discountedPrice">
                    {{discountedPrice(suggestion.price, suggestion.discount.type,
                    suggestion.discount.amount)}}
                    <del class="oldPrice"> {{suggestion.price}}</del>
                  </div>

                </div>
              </div>
            </div>

            <div *ngIf="suggestion.discount == null
             || !checkDiscount(suggestion.discount.startDate, suggestion.discount.endDate)"
                 class="col-md-8 pl-3">
              <div style="font-size: 25px;">
                <i class="fas fa-dollar-sign"></i> {{suggestion.price}}
              </div>
            </div>

            <div class="col-md-4 pr-3">
              <button [hidden]="isDisabled || authority != 'ROLE_USER'" (click)=addToBasket(suggestion)
                      class="right styledButton text-coloured" color="deep-purple"
                      mat-stroked-button mdbBtn
                      mdbWavesEffect>
                Add to cart
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3" *ngIf="feedback != null && feedback.length != 0">
      <div class="col-md-12 pt-2 card roundedCard">
        <div class="row">
          <div *ngFor="let message of feedback; let i=index" class="col-md-12">

            <div [ngClass]="{greyComment: (i % 2)}" class="row py-1">
              <div class="col-md-12">

                <div class="row">

                  <div class="col-md-auto col-auto pl-4 pr-1 py-1">
                    <a *ngIf="message.user != null" routerLink="/user/{{message.user.id}}">
                      <img alt="User pic"
                           src="{{message.user.details.imageSrc}}?s=35&d=mp"
                           class="img-responsive userPic"/>
                    </a>
                    <a *ngIf="message.user == null" routerLink="/user/{{userId}}">
                      <img alt="User pic"
                           src="{{imgSrc}}?s=35&d=mp"
                           class="img-responsive userPic"/>
                    </a>
                  </div>

                  <div class="col-md-auto col-auto">

                    <div class="row">
                      <div class="col-md-12 pl-1">
                        <b *ngIf="message.user != null" class="mr-1">{{message.user.username}}</b>
                        <b *ngIf="message.user == null" class="mr-1">{{username}}</b>
                        <ngb-rating [(rate)]="message.rating" [max]="5" [readonly]="true" class="pl-1"></ngb-rating>
                      </div>
                    </div>

                    <div class="row mt-0 pt-0">
                      <div class="col-md-12 pl-1 smallerText">
                        {{extractDateString(message.feedbackDate)}}
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row" *ngIf="message.feedbackMessage != null && message.feedbackMessage !== ''">
                  <div class="col-md-12 pl-3">
                    {{message.feedbackMessage}}
                  </div>
                </div>

              </div>
            </div>

            <!--<div *ngIf="(i % 2)" class="row py-1 greyComment">-->

            <!--<div class="col-md-12">-->

            <!--<div class="row">-->

            <!--<div class="col-md-auto col-auto pl-4 pr-1 py-1">-->
            <!--<img alt="User pic" src="{{message.user.details.imageSrc}}?s=35&d=mp"-->
            <!--class="img-responsive userPic"/>-->
            <!--</div>-->

            <!--<div class="col-md-auto col-auto">-->

            <!--<div class="row">-->
            <!--<div class="col-md-12 pl-1">-->
            <!--<b *ngIf="message.user != null" class="mr-1">{{message.user.username}}</b>-->
            <!--<b *ngIf="message.user == null" class="mr-1">{{username}}</b>-->
            <!--<ngb-rating [(rate)]="message.rating" [max]="5" [readonly]="true" class="pl-1"></ngb-rating>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="row mt-0 pt-0">-->
            <!--<div class="col-md-12 pl-1 smallerText">-->
            <!--{{extractDateString(message.feedbackDate)}}-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="row">-->
            <!--<div class="col-md-12 pl-3">-->
            <!--{{message.feedbackMessage}}-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->
            <!--</div>-->

          </div>

        </div>
        <div [ngClass]="{greyComment: !(feedback.length % 2)}" class="row commentFooter pb-2"></div>
      </div>
    </div>

    <div *ngIf="isFeedbackAllowed" class="row mt-3">
      <div class="col-md-12 pt-3 pb-2 card roundedCard">

        <form (ngSubmit)="addFeedback(feedbackForm.value)" [formGroup]="feedbackForm">
          <div class="row px-3">
            <div class="col-md-12">

              <ng-template #st let-fill="fill">
              <span [class.full]="fill === 100" class="smallerStar">
                &#9733;
              </span>
              </ng-template>

              <label for="rating">Your score: </label>
              <ngb-rating [formControl]="feedbackForm.controls.rating" [starTemplate]="st" class="pl-2" id="rating"
                          max="5"></ngb-rating>
            </div>
          </div>

          <div class="row px-3">
            <div class="col-md-12">

              <label for="message">Your message: </label>
              <textarea
                [ngClass]="{ 'is-invalid': feedbackForm.controls.feedbackMessage.errors }"
                class="form-control"
                formControlName="feedbackMessage"
                id="message"
                placeholder="Type your feedback here"
                rows="5"></textarea>

              <div *ngIf="feedbackForm.controls.feedbackMessage.errors" class="invalid-input">
                <div *ngIf="feedbackForm.controls.feedbackMessage.errors.minlength">Feedback must be at least 3
                  characters long
                </div>
                <div *ngIf="feedbackForm.controls.feedbackMessage.errors.maxlength">Feedback must be less than 2048
                  characters long
                </div>
              </div>

            </div>
          </div>

          <div *ngIf="!isFeedbackGiven" class="row px-3 pt-3">
            <div class="offset-md-10"></div>
            <div class="col-md-2 my-auto px-auto">
              <button class="btn btn-sm btn-block float-right styledButton" color="indigo" mdbBtn mdbWavesEffect
                      type="submit">
                Submit
                <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
              </button>
            </div>
          </div>

          <div *ngIf="isFeedbackGiven" class="row px-3 pt-3">
            <div class="offset-md-8"></div>
            <div class="col-md-2 my-auto px-2">
              <button (click)="removeFeedback(feedbackForm.value)" class="btn btn-sm btn-block float-right styledButton"
                      color="indigo" mdbBtn
                      mdbWavesEffect type="button">
                Remove
                <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
              </button>
            </div>

            <div class="col-md-2 my-auto px-2">
              <button (click)="updateFeedback(feedbackForm.value)" class="btn btn-sm btn-block float-right styledButton"
                      color="indigo" mdbBtn
                      mdbWavesEffect type="button">
                Update
                <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
              </button>
            </div>
          </div>
        </form>

      </div>
    </div>

  </div>
</div>
