<div *ngIf="!discountCreationMode && !discountEditMode" class="row">
  <div class="col-md-12">

    <div class="row">
      <button (click)="switchBackMode()" class="btn float-left btn-sm mx-5 mb-3 styledButton" color="info"
              mdbBtn
              mdbWavesEffect type="button">
        Back
      </button>

      <button (click)="switchDiscountCreationMode()" class="btn float-left btn-sm mx-1 mb-3 styledButton" color="info"
              mdbBtn
              mdbWavesEffect type="button">
        Add new discount
      </button>
    </div>

    <div class="row">
      <div class="col-md-12 pb-3">
        <app-data-table (infoEvent)="info($event)"
                        [editable]="editable"
                        [records]="discounts"
                        [settings]="discountsTableSettings"
                        [tableName]="tableName">
        </app-data-table>
      </div>
    </div>

  </div>
</div>

<div *ngIf="discountCreationMode">

  <div class="row">
    <button type="button" class="btn float-left btn-sm mx-5 mb-3 styledButton" (click)="switchDiscountCreationMode()"
            mdbBtn
            color="info"
            mdbWavesEffect>
      Back
    </button>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-discount-form [service]="service" (submit)="onSubmit($event)"></app-discount-form>
    </div>
  </div>

</div>

<div *ngIf="discountEditMode">

  <div class="row">
    <button type="button" class="btn float-left btn-sm mx-5 mb-3 styledButton" (click)="switchDiscountEditMode()"
            mdbBtn
            color="info"
            mdbWavesEffect>
      Back
    </button>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-discount-form [service]="service" [editableDiscount]="currDiscount"
                         (submit)="onSubmit($event)" (delete)="onDelete($event)"></app-discount-form>
    </div>
  </div>

</div>

