<div class="chat-container" style="margin-top: 0">
  <div class="card-body">
    <div class="row">

      <div class="col-3">
        <div class="tab-container">
          <div class="tab-header">
            Dialogs
          </div>
          <div *ngFor="let chat of chats" class="scrollbar-ripe-malinka">
            <button (click)="getChatByChatId(chat)">
              {{chat.username}}
            </button>
          </div>
        </div>
      </div>

      <div class="col-9">
        <div class="row">
          <div class="col-md-12">
            <app-chat-template
              [listOfChatMessages]="getCurrentChatMessages()"
              [currentUserName]="token.username"
              [gravatarLink]="gravatar.getGravatarLink(token.email)"
              (sendMessageEvent)="sendMessage($event)">
            </app-chat-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
