.tab-header {
  display: block;
  background-color: #2E294E !important;
  border: 1px solid #2E294E;
  border-radius: 5px 5px 0 0;
  width: 100%;
  color: white;
  padding: 5px 10px 5px 5px;
  text-align: left;
}

.tab-container {
  float: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  //padding: 0;
}

.tab-container button {
  display: block;
  background-color: inherit;
  color: black;
  width: 100%;
  padding: 5px 10px 5px 5px;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

.tab-container button:hover {
  background-color: #ddd;
}

.tab-container button.active {
  background-color: #ccc;
}

.chat-input {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
}

u:hover {
  cursor: pointer;
}

u {
  color: black;
  outline: none;
}

small {
  font-size: 10px;
  color: grey;
}

.bold-font {
  font-weight: bold;
}

.btn-send {
  background-color: #2E294E !important;
  margin-top: 0;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-ripe-malinka::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #2E294E !important;
}

