mat-tab {
  font-weight: bolder;
}

.tabBorderPadding {
  padding: 50px 0 50px 0;
}

.container, .grid-container {
  padding: 0;
  border-radius: 5px;
  margin-top: 20px;
  background-color: white;
  height: auto;
}

