<div class="container">
  <div class="card card-layout">

    <mat-tab-group>
      <mat-tab *ngIf="authority == 'ROLE_USER'" label="Support chat">
        <app-support-chat></app-support-chat>
      </mat-tab>
      <mat-tab *ngIf="authority == 'ROLE_APPROVER'" label="Approvers chat">
        <app-approvers-chat></app-approvers-chat>
      </mat-tab>
      <mat-tab label="Global chat">
        <app-global-chat></app-global-chat>
      </mat-tab>
    </mat-tab-group>

  </div>
</div>
