<div class="row mt-3">
  <div class="container">

    <br>
    <div class="row">
      <div *ngIf="bundle.imgSrc !== null && bundle.imgSrc !== ''" class="col-md-8">
        <img alt="bundleImg" class="img-responsive mainImage" src="{{bundle.imgSrc}}">
      </div>

      <div *ngIf="bundle.imgSrc === null || bundle.imgSrc === ''" class="col-md-8">
        <img
          alt="defaultBundleImg"
          class="img-responsive mainImage"
          src="https://secure.instantsoftwareonline.com/StayUSA/PropertyImages/2397/PD%2077820%20MountainView/L1.jpg?h=eS9IOEloWWlmNEc4WTArNVhzTkg1QT09">
      </div>

      <div class="col-md-4 card headerCard">

        <div class="row pt-3">
          <div class="col-md-12 px-3 myHeaderText text-center">
            <b>{{bundle.name}}</b>
          </div>
        </div>

        <div class="row py-0">
          <div class="col-md-12 px-3 myHeaderText text-center">

            <ng-template #t let-fill="fill">
              <span [class.full]="fill === 100" class="star">
                <span [style.width.%]="fill" class="half">&#9733;</span>&#9733;
              </span>
            </ng-template>

          </div>
        </div>

        <div class="row pt-3">
          <div class="offset-md-1"></div>
          <div class="col-md-5 myText text-left">
            <i class="fas fa-users"></i> {{bundle.numberOfPeople}}
          </div>

          <div class="offset-md-1"></div>
          <div class="col-md-5 myText text-left">
            <i class="fas fa-dollar-sign"></i> {{bundle.price}}
          </div>

          <div class="offset-md-1"></div>
          <div class="col-md-5 myText text-left">
            <i class="fas fa-eye"></i> {{views}}
          </div>

        </div>

        <div class="row pt-2">
          <div class="offset-md-1"></div>
          <div class="col-md-5 myText text-left">
            <i class="fas fa-plane-departure"></i> {{bundle.location.name}}
          </div>

          <div class="offset-md-1"></div>
          <div class="col-md-5 myText text-left">
            <i class="fas fa-plane-arrival"></i> {{bundle.destination.name}}
          </div>
        </div>

        <!--<div class="row pt-2">
          <div class="offset-md-1"></div>
          <div class="col-md-11 myText text-left">
            <i class="fas fa-user-tie"></i> <a routerLink="/provider/{{bundle.provider.id}}">
            {{bundle.provider.username}}</a>
          </div>
        </div>-->

        <div class="row mt-auto mb-3">
          <div class="offset-md-2"></div>
          <div class="col-md-8">
            <button [hidden]="authority != 'ROLE_USER'" block="true"
                    class="buyButton styledButton text-coloured mx-auto" color="deep-purple"
                    mat-stroked-button
                    mdbBtn
                    mdbWavesEffect>
              Add to cart
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="row descriptionText mt-3">

      <div class="col-md-12 py-3 card roundedCard">
        <div class="row">
          <div class="col-md-12">
            <div class="row px-5">
              <b>Description:</b>
            </div>

            <div class="row px-4">
              {{bundle.description}}
            </div>
          </div>
        </div>
      </div>
    </div>


    <agm-map [latitude]="(bundle.location.coordinate.latitude+bundle.destination.coordinate.latitude)/2"
             [longitude]="(bundle.location.coordinate.longitude+bundle.destination.coordinate.longitude)/2" [zoom]="2"
             class="mt-3" style="height: 300px"
    >
      <agm-marker [latitude]="bundle.location.coordinate.latitude"
                  [longitude]="bundle.location.coordinate.longitude"
      ></agm-marker>
      <agm-marker [latitude]="bundle.destination.coordinate.latitude"
                  [longitude]="bundle.destination.coordinate.longitude"></agm-marker>

      <agm-polyline [editable]="false">
        <agm-polyline-point
          [latitude]="bundle.location.coordinate.latitude"
          [longitude]="bundle.location.coordinate.longitude">
        </agm-polyline-point>
        <agm-polyline-point
          [latitude]="bundle.destination.coordinate.latitude"
          [longitude]="bundle.destination.coordinate.longitude">
        </agm-polyline-point>
      </agm-polyline>
    </agm-map>

    <div class="row mt-3">
      <div *ngFor="let trip of bundle.bundleTrips" class="col-md-4 descriptionText">
        <div class="py-3 mx-2 mb-1 card roundedCard">
          <div class="row">
            <div class="col-md-12 px-auto text-center">
              <b> <a routerLink="/trip/{{trip.id}}">
                {{trip.name}}</a> </b>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-12 pl-4">
              <div class="col-md-5 myText text-left">
                <i class="fas fa-dollar-sign"></i> {{trip.price}}
              </div>
            </div>
          </div>

          <div class="row pt-3">
            <div class="offset-md-1"></div>
            <div class="col-md-5 myText text-left">
              <i class="fas fa-plane-departure"></i> {{bundle.location.name}}
            </div>


            <div class="col-md-5 myText text-left">
              <i class="fas fa-plane-arrival"></i> {{trip.destination.name}}
            </div>

          </div>

        </div>
      </div>
    </div>

  </div>
</div>

<div *ngIf="bundleEditMode">

  <div class="row">
    <button (click)="switchBundleEditMode()" class="btn float-left btn-sm mx-5 mb-3 styledButton" color="info"
            mdbBtn
            mdbWavesEffect
            type="button">
      Back
    </button>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-bundle-form [updateMode]="true" [bundle]="bundle"></app-bundle-form>
    </div>
  </div>
</div>
