<li>
  <div aria-expanded="false" aria-haspopup="true" class="btn-group">
    <button class="notify-btn"
            data-target="#modalNotifications"
            data-toggle="modal"
            mat-mini-fab>
      <mat-icon class="white-icon"
                matBadge="{{counter == 0 ? null : counter}}"
                matBadgePosition="above after">
        notifications_none
      </mat-icon>
    </button>
  </div>
</li>

<!--Modal: modalNotifications-->
<div class="modal fade top"
     id="modalNotifications"
     tabindex="-1"
     role="dialog"
     aria-labelledby="notificationsLabel"
     aria-hidden="true"
     data-backdrop="true">
  <div class="modal-dialog modal-sm modal-side modal-top-right modal-notify modal-info modal-notification"
       role="document">
    <div class="modal-content">

      <div class="modal-header header-layout">
        <p class="heading">Last notifications</p>
        <button type="button" class="close close-modal-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">&times;</span>
        </button>
      </div>

      <div class="modal-body" style="padding: 15px 15px 10px 15px">
        <div class="row no-gutters" *ngFor="let notification of showedNotifications">
          <div class="col-12">

            <div class="row no-gutters">

              <div class="col-9">
                <div *ngIf="notification?.serviceStatus">
                  <p style="margin-bottom: 0;">
                    <strong class="status" [ngClass]="statusCssClass(notification.serviceStatus)">
                      {{notification.serviceStatus}}:</strong>
                    {{notification.serviceTypeName}} -
                    <a routerLink="/trip/{{notification.serviceId}}">"{{notification.serviceName}}"</a>
                    by
                    <a routerLink="/user/{{notification.userId}}">{{notification.username}}</a>
                    <br>
                  </p>
                </div>

                <div *ngIf="notification?.troubleTicketStatus && !notification.message">
                  <p style="margin-bottom: 0;">
                    <strong class="status" [ngClass]="statusCssClass(notification.troubleTicketStatus)">
                      {{notification.troubleTicketStatus}}:</strong>
                    Trouble
                    <a (click)="setTicketDataAndRedirect(notification)">ticket
                      #{{notification.troubleTicketId}}</a>
                    by
                    <a routerLink="/user/{{notification.userId}}">{{notification.username}}</a>
                    <br>
                  </p>
                </div>

                <div *ngIf="notification?.message">
                  <div *ngIf="notification?.troubleTicketId">
                    <p style="margin-bottom: 0;">
                      <strong class="status NewMessage">New message:</strong>
                      on trouble
                      <a (click)="setTicketDataAndRedirect(notification)">ticket #{{notification.troubleTicketId}}</a>
                      from
                      <a routerLink="/user/{{notification.userId}}">{{notification.username}}</a>
                      <br>
                    </p>
                  </div>

                  <div *ngIf="notification?.serviceId">
                    <p style="margin-bottom: 0;"><strong class="status NewMessage">New message:</strong> in <u
                      (click)="setTicketDataAndRedirect(notification)">chat</u>
                      from
                      <a routerLink="/user/{{notification.userId}}"><u>{{notification.username}}</u></a>
                      <br>
                    </p>
                  </div>

                </div>
              </div>

              <div class="col-3">

                <button type="button" class="close" aria-label="Close" (click)="readOne(notification)">
                  <span aria-hidden="true">&times;</span>
                </button>

                <small style="position: absolute; bottom: 0; margin-left: 15px;">
                  {{notification.notificationTime | date: 'h:mm a'}}
                </small>
              </div>
            </div>

            <hr style="margin: 5px 0 7px 0;">
          </div>

        </div>
      </div>

      <div class="row btn-panel">
        <div class="col-6">
          <button type="button" routerLink="/notifications" class="btn btn-secondary btn-md btn-not styledButton">
            Show all
          </button>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-secondary btn-md btn-not clear-btn " (click)="clearAll()">
            Clear all
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

