.white-icon {
  color: white;
  cursor: pointer;
}

.notify-btn {
  background-color: Transparent;
  outline: none;
}

.modal-notification {
  margin-top: 50px
}

.btn-not {
  width: 100%;
  margin-left: 0;
  alignment: center;
}

.clear-btn {
  background-color: #FE4A49 !important;
}

.btn-panel {
  padding: 0 5px 0 5px;
}

strong {
  font-weight: bold;
}

small {
  //float: right;
  color: grey;
  font-size: 10px !important;
}

u:hover {
  cursor: pointer;
}

u {
  outline: none;
  color: grey;
}

a {
  font-weight: 400;
  cursor: pointer;
  text-decoration: none;
  color: #007bff !important;
  transition: all 0.2s ease-in-out;
}

.header-layout {
  background-color: #2E294E !important;
  padding: 5px 5px 5px 10px;
}

.close-modal-btn {
  outline: none;
  padding-top: 22px;
}
