<div class="row mb-3">
  <div class="col-md-12 px-0 py-3 mx-auto  card roundedCard">

    <div *ngIf="!tripEditMode && !discountManagerMode" class="row">
      <div class="col-md-12">
        <div class="row">

          <div class="col-md-4">

            <div class="row no-gutters" style="margin-bottom: 10px;">
              <div class="col col-md">
                <!--<span class="inline">-->
                <!--<mat-icon style="vertical-align: text-bottom;">keyboard_arrow_down</mat-icon>-->
                <!--</span>-->
                <span class="inline h4" style="font-weight: bolder; font-size: 20px;">
                  Details:
                </span>
              </div>
            </div>

            <div class="row">
              <p class="headText">Status: <span class="details-text status" [ngClass]="statusCssClass(trip.status)">{{trip.status}}</span></p>
            </div>

            <div class="row" *ngIf="approver">
              <p class="headText">Assignee:
                <span class="details-text">
                  <a routerLink="/user/{{approver.id}}">
                    <img alt="User pic"
                         src="{{gravatar.getGravatarLink(approver.email)}}?s=35&d=mp"
                         class="img-responsive userPic cursor-custom"/>
                  </a>
                  <a [routerLink]="['/user/', trip.approverId]">  {{approver.username}}</a>
                </span>
              </p>
            </div>
          </div>

          <div class="col-md-8">
            <div class="row no-gutters">
              <div class="col-md-12 col-12">
                <div class="row no-gutters" style="margin-bottom: 10px;">
                  <div class="col col-md">
                    <!--<span class="inline">-->
                    <!--<mat-icon style="vertical-align: text-bottom;">keyboard_arrow_down</mat-icon>-->
                    <!--</span>-->
                    <span class="inline h4" style="font-weight: bolder; font-size: 20px;">
                      Actions:
                    </span>


                  </div>
                </div>

                <div *ngIf="isProvider" class="row no-gutters">
                  <div *ngIf="(!isAssigned || isUnderClarification || isArchived) && !isRemoved"
                       class="providerButton col-auto col-md-auto">
                    <button [disabled]="isDisabled" (click)="switchTripEditMode()" block="true"
                            class="relative waves-light styledButton m-0"
                            color="deep-purple"
                            mdbBtn
                            mdbWavesEffect type="button">
                      Edit
                    </button>
                  </div>
                  <div *ngIf="isPublished" class="providerButton col-auto col-md-auto">
                    <button [disabled]="isDisabled" (click)="archiveService()" block="true"
                            class="relative waves-light styledButton m-0"
                            color="deep-purple"
                            mdbBtn
                            mdbWavesEffect type="button">
                      Archive
                    </button>
                  </div>
                  <div *ngIf="isArchived || isDrafted" class="providerButton col-auto col-md-auto">
                    <button [disabled]="isDisabled" (click)="openService()" block="true"
                            class="relative waves-light styledButton m-0"
                            color="deep-purple"
                            mdbBtn
                            mdbWavesEffect
                            type="button">
                      Open
                    </button>
                  </div>
                  <div *ngIf="isArchived" class="providerButton col-auto col-md-auto3">
                    <button [disabled]="isDisabled" (click)="removeService()" block="true"
                            class="relative waves-light styledButton m-0"
                            color="deep-purple"
                            mdbBtn
                            mdbWavesEffect
                            type="button">
                      Remove
                    </button>
                  </div>
                  <div class="providerButton col-auto col-md-auto" *ngIf="!isRemoved">
                    <button [disabled]="isDisabled" (click)="switchDiscountManagerMode()" block="true"
                            class="relative waves-light styledButton m-0"
                            color="deep-purple" mdbBtn
                            mdbWavesEffect
                            type="button">
                      Manage Discounts
                    </button>
                  </div>
                </div>

                <div *ngIf="isApprover" class="row no-gutters">
                  <div *ngIf="!isAssigned && !isDrafted && !isArchived && isOpened"
                       class="approverButton col-auto col-md-auto">
                    <button [disabled]="isDisabled" (click)="assignService()"
                            class="relative waves-light styledButton m-0" color="deep-purple"
                            mdbBtn
                            mdbWavesEffect
                            type="button">
                      Assign to me
                    </button>
                  </div>
                  <div *ngIf="isAssignedToMe && !isPublished && !isOpened && !isUnderClarification"
                       class="approverButton col-auto col-md-auto">
                    <button [disabled]="isDisabled" (click)="publishService()"
                            class="relative waves-light styledButton m-0" color="deep-purple"
                            mdbBtn
                            mdbWavesEffect
                            type="button">
                      Publish
                    </button>
                  </div>
                  <div *ngIf="isAssignedToMe && !isUnderClarification" class="approverButton col-auto col-md-auto">
                    <button [disabled]="isDisabled" (click)="basicModal.show()"
                            class="relative waves-light styledButton m-0"
                            color="deep-purple"
                            mdbBtn
                            mdbWavesEffect
                            type="button">
                      Put under clarification
                    </button>
                  </div>
                </div>

                <div class="row no-gutters">
                  <div class="col-12 col-md-12"
                       *ngIf="(isUnderClarification || hasMessage) && !isPublished && !isArchived">
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <b>Clarification request: </b>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <p>{{thisServiceMessage.message}}</p>
                    </mat-expansion-panel>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="tripEditMode">

      <div class="row">
        <button (click)="switchTripEditMode()" class="btn float-left btn-sm mx-5 mb-3 styledButton" color="deep-purple"
                mdbBtn
                mdbWavesEffect
                type="button">
          Back
        </button>
      </div>

      <div class="row">
        <div class="col-md-12">
          <app-trip-form (edit)="onTripEditEventCather($event)" (archivedEditEvent)="onTripArchivedEdit($event)"
                         [trip]="trip"></app-trip-form>
        </div>
      </div>

    </div>

    <div *ngIf="discountManagerMode">

      <div class="row">
        <div class="col-md-12">
          <app-trip-discount-manager (backEvent)="switchDiscountManagerMode()"
                                     (updateEvent)="onUpdateDiscountManager($event)"
                                     [service]="trip">
          </app-trip-discount-manager>
        </div>
      </div>

    </div>
  </div>
</div>

<div mdbModal #basicModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog"
     aria-labelledby="myBasicModalLabel"
     [config]='{backdrop: false, ignoreBackdropClick: false}' aria-hidden="true">
  <div class="modal-dialog modal-full-height modal-right" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100 font-weight-bold" id="myModalLabel">Clarification request</h4>
      </div>
      <div class="modal-body">
        <div class="md-form" (ngSubmit)="sendServiceMessage()" [formGroup]="messageForm">
          <mdb-icon far icon="edit"></mdb-icon>
          <label for="message">Fill in the message with the requirements:</label>
          <textarea type="text"
                    id="message"
                    class="md-textarea md-textarea-auto form-control input-scroll"
                    mdbInput
                    formControlName="message">

          </textarea>
          <mat-error *ngIf="f.message.hasError('maxlength')">Max amount of symbols is 2000</mat-error>
          <mat-error *ngIf="f.message.hasError('required')">Field is empty</mat-error>
        </div>

      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close"
                (click)="basicModal.hide()" mdbWavesEffect>Cancel
        </button>
        <button type="submit" mdbBtn color="success" class="relative waves-light" mdbWavesEffect
                (click)="!f.message.errors ? sendServiceMessage() : {}"
                (keyup)="!f.message.errors ? basicModal.hide() : {}" (click)="basicModal.hide()">Send
        </button>
      </div>
    </div>
  </div>
</div>
