.modal-header {
  margin-top: 60px;
}

.modal {
  left: 10px;
}

.modal-footer {
  margin-bottom: 700px;
}

.roundedCard {
  border-radius: 5px !important;
}

.row {
  margin: 0;
}

.headText {
  font-size: 20px;
  color: grey;
}

.approverButton, .providerButton {
  margin-bottom: 15px;
  margin-right: 15px;
  //margin-left: 15px;
}

.cursor-custom {
  cursor: pointer;
}

.input-scroll {
  max-height: 400px;
}

.details-text {
  margin-left: 5px;
  font-weight: bold;
  color: black;
}
