<div class="row" id="test">
  <div *ngFor="let trip of trips" class="col-md-3">
    <mat-card class="tripCard">
      <mat-card-header>
        <!--<div mat-card-avatar class="tripCard-header-image"></div>-->
        <p>
          <mat-card-title>{{trip.name}}</mat-card-title>
        </p>
        <!--<mat-card-subtitle>{{trip.location.country}}</mat-card-subtitle>-->
      </mat-card-header>
      <!--<img height="110px" mat-card-image src={{trip.imgSrc}} alt="No picture available">-->

      <mat-card-content>
        <div *ngIf="trip.imgSrc !== null && trip.imgSrc !== ''">
          <img alt="tripImg" mat-card-image src="{{trip.imgSrc}}">
        </div>

        <div *ngIf="trip.imgSrc === null || trip.imgSrc === ''">
          <img
            alt="defaultTripImg"
            mat-card-image
            src="https://filetandvine.com/wp-content/uploads/2015/07/pix-uploaded-placeholder.jpg">
        </div>


        <div>
          <p class="pl-3">
            From {{trip.location.name}} to {{trip.destination.name}}
          </p>
        </div>


      </mat-card-content>
      <mat-card-actions>

        <label class="money-label">$ {{trip.price}}</label>
        <button (click)=this.intoBundlePage(trip.id) class="right" color="info" mat-stroked-button mdbBtn
                mdbWavesEffect>
          View details
        </button>

      </mat-card-actions>
    </mat-card>
    <br>
  </div>

</div>

