tripCard {
  max-width: 400px;
  padding-left: 0;
  padding-right: 0;
}

.tripCard {
  margin-top: 20px;
  //background-size: cover;
  min-width: 200px;
}

#test {
  margin-right: 2%;
  margin-left: 2%;
}

.right {
  float: right;
  margin-right: 7%;
  background-color: #2E294E !important;
}

.money-label {
  color: darkgreen;
  text-decoration: #004444;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 120%;
  margin-left: 5%;
}

.money-label-for-select {
  color: darkgreen;
  text-decoration: #004444;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

.tripCard {
  max-width: 400px;
  padding-left: 0;
  padding-right: 0;
}

.tripCard {
  margin-top: 20px;
  //background-size: cover;
  min-width: 200px;
}

.mat-card-image {
  //float: right;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 150px;
}
