<div class="container">
  <div *ngIf="!creationMode">

    <div class="row">

      <button (click)="switchMode()" class="btn float-left btn-sm mx-5 mb-3 styledButton" color="info" mdbBtn
              mdbWavesEffect type="button">
        Add new special user
      </button>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <div *ngIf="success" class="alert alert-success">{{success}}</div>
        <app-data-table [editable]="editable"
                        [records]="users"
                        [url]="urlToForward"
                        [settings]="usersTableSettings"
                        [tableName]="tableName"
                        (deleteEvent)="delete()">
        </app-data-table>
      </div>

    </div>

  </div>

  <div *ngIf="creationMode">

    <div class="row">
      <button (click)="switchMode()" class="btn float-left btn-sm mx-5 mb-3 styledButton" color="info" mdbBtn
              mdbWavesEffect type="button">
        Back
      </button>
    </div>

    <div class="row">
      <div class="col-md-12">
        <app-user-users></app-user-users>
      </div>
    </div>

  </div>

</div>

