<!--<div *ngFor="let order of orders">

  <mdb-card *ngFor="let suborder of order.orderDetails">
    <mdb-card-body>


      <mdb-card-title>
        <h4><a routerLink="/trip/{{suborder.serviceId}}">
          {{suborder.name}} </a></h4>
      </mdb-card-title>

      <mdb-card-text>
        <div class="offset-md-1"></div>
        <div class="col-md-5 myText text-left">
          <i class="fas fa-dollar-sign"></i> {{suborder.price}}
        </div>
      </mdb-card-text>

    </mdb-card-body>
  </mdb-card>


  <mdb-card-body>
    <div>
      Sum of order: {{order.price}}
    </div>
    <div>
      Date of order: {{order.orderDate | date:'yyyy-MM-dd'}}
    </div>
  </mdb-card-body>

  <div class="col-md-12 pl-4">

  </div>

  <div class="offset-md-1"></div>
  <div class="col-md-12 pl-4">

  </div>

</div> -->

<mat-accordion *ngFor="let order of orders">
  <!-- <mat-expansion-panel>
     <mat-expansion-panel-header>
       <mat-panel-title>
         Personal data
       </mat-panel-title>
       <mat-panel-description>
         Type your name and age
       </mat-panel-description>
     </mat-expansion-panel-header>

     <mat-form-field>
       <input matInput placeholder="First name">
     </mat-form-field>

     <mat-form-field>
       <input matInput placeholder="Age">
     </mat-form-field>
   </mat-expansion-panel> -->
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Date of order:
        <br>
        Sum of oder:
      </mat-panel-title>
      <mat-panel-description>
        {{order.orderDate | date:'yyyy-MM-dd'}}
        <br>
        {{order.price}}
      </mat-panel-description>

    </mat-expansion-panel-header>

    <mdb-card *ngFor="let suborder of order.orderDetails">
      <mdb-card-body>

        <!--Title-->
        <mdb-card-title>
          <h4><a routerLink="/trip/{{suborder.serviceId}}">
            {{suborder.name}} </a></h4>
        </mdb-card-title>

        <mdb-card-text>
          <div class="offset-md-1"></div>
          <div class="col-md-5 myText text-left">
            <i class="fas fa-dollar-sign"></i> {{suborder.price}}
          </div>
        </mdb-card-text>

      </mdb-card-body>
    </mdb-card>

  </mat-expansion-panel>
</mat-accordion>

