<div class="container">
  <div class="row justify-content-center align-items-center" *ngIf="!isApprover" style="margin: 0">
    <div class="form-group col-md-8">
      <mat-select placeholder="Purchased services -- ticket amount --" [formControl]="serviceControl"
                  class="form-control" style="margin-top: 6px"
                  id="services">
        <mat-option *ngFor="let service of purchasedServices" [value]="service.id">
          {{service.name}}
          <mdb-badge pill="true" info="true">tickets: {{service.ticketAmount}}</mdb-badge>
        </mat-option>
      </mat-select>
    </div>
    <div class="col-md-3" *ngIf="serviceSelected">
      <button [disabled]="isDisabled" type="button" mdbBtn color="default" data-toggle="modal" class="styledButton"
              data-target="#basicExample"
              (click)="frame.show()" mdbWavesEffect>
        Create Trouble ticket
      </button>
    </div>
  </div>

  <!--<div *ngIf="isApprover">-->
    <!--<div class="row">-->
      <!--<div class="col"></div>-->
      <!--<div class="col-auto">-->
        <!--<strong class="bold-font" *ngIf="serviceName" style="font-size: 24px">-->
          <!--Service name: <span style="font-weight: normal; font-size: 24px">{{serviceName}}</span>-->
        <!--</strong>-->
      <!--</div>-->
      <!--<div class="col"></div>-->
    <!--</div>-->
  <!--</div>-->

  <br>
  <div class="row" style="margin: 0;">
    <div *ngIf="isApprover" class="col-md-3">
      <mat-accordion>
        <mat-expansion-panel class="panel-layout">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Assigned to me
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="tickets-tab-list scrollbar-ripe-malinka">
            <a mdbWavesEffect *ngFor="let troubleTicket of assignedToMe"
               (click)="selectedTroubleTicket = troubleTicket; loadTroubleTicketMessages(troubleTicket.id)"
               class="expanded-list" [ngClass]="{'chosen-ticket' : troubleTicket.id == selectedTroubleTicket.id}"
            >
              {{troubleTicket.headline}}
            </a>
          </div>


        </mat-expansion-panel>

        <mat-expansion-panel class="panel-layout">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Unassigned
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="tickets-tab-list scrollbar-ripe-malinka">
            <a class="expanded-list" mdbWavesEffect
               *ngFor="let troubleTicket of unassigned"
               [ngClass]="{'chosen-ticket' : troubleTicket.id == selectedTroubleTicket.id}"
               (click)="selectedTroubleTicket = troubleTicket; loadTroubleTicketMessages(troubleTicket.id)">
              {{troubleTicket.headline}}
            </a>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel class="panel-layout">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Closed
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="tickets-tab-list scrollbar-ripe-malinka">
            <a class="expanded-list" mdbWavesEffect
               *ngFor="let troubleTicket of closed"
               [ngClass]="{'chosen-ticket' : troubleTicket.id == selectedTroubleTicket.id}"
               (click)="selectedTroubleTicket = troubleTicket; loadTroubleTicketMessages(troubleTicket.id)">
              {{troubleTicket.headline}}
            </a>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <br>
    </div>

    <div class="form-group col-md-3" *ngIf="serviceSelected && !isApprover" style="margin-left: 30px">
      <mat-accordion>
        <mat-expansion-panel class="panel-layout" [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tickets for selected service
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="tickets-tab-list scrollbar-ripe-malinka">
            <a mdbWavesEffect *ngFor="let troubleTicket of troubleTickets"
               (click)="selectedTroubleTicket = troubleTicket; loadTroubleTicketMessages(troubleTicket.id)"
               class="expanded-list" [ngClass]="{'chosen-ticket' : troubleTicket.id == selectedTroubleTicket.id}"
            >
              {{troubleTicket.headline}}
            </a>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <div class="col-md-8" style="margin-left: 30px;" *ngIf="troubleTicketSelected">
      <div class="row">
        <div class="col-md-4">
          <strong  class="bold-font">
            Status: <span [ngClass]="status" style="font-weight: bold" class="status">{{selectedTroubleTicket.status}}</span></strong>
          <div *ngIf="approverUsername">
            <strong class="bold-font">
              Approver: <a routerLink="/user/{{selectedTroubleTicket.approverId}}"
                           style="font-weight: normal">{{approverUsername}}</a>
            </strong>
          </div>
          <div *ngIf="!approverUsername">
            <strong class="bold-font">
              Approver: <span style="color: grey; font-weight: normal">not assigned yet</span>
            </strong>
          </div>
        </div>
        <div class="col-md-8">

          <div *ngIf="isRated || isFeedback">
            <div class="card mark-layout">
              <div class="justify-content-center align-items-center">
                <div style="margin-top: 15px">
                  <strong class="bold-font" *ngIf="serviceName && isRated || isFeedback" style="font-size: 1rem">
                    Service name: <span style="font-weight: normal; font-size: 1rem">{{serviceName}}</span>
                  </strong>
                  <p style="margin-bottom: 0"><strong>Rating:</strong>
                    <ngb-rating [(rate)]="selectedTroubleTicket.rating" [max]="5" [readonly]="true"
                                style="outline: none; margin-left: 5px"></ngb-rating>
                  </p>
                </div>
                <div *ngIf="isFeedback">
                  <div>
                    <p><strong>Feedback:</strong>
                      {{selectedTroubleTicket.text}}
                    </p>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div *ngIf="canAssign && isApprover">
            <button [disabled]="isDisabled" mdbBtn class="waves-light styledButton" mdbWavesEffect color="deep-purple"
                    (click)="assignTicket()" style="float: right; margin-right: 20px">
              Assign to me
            </button>
          </div>

          <div *ngIf="canSetAnswered && !isApprover">
            <button [disabled]="isDisabled" mdbBtn class="waves-light" color="default" mdbWavesEffect
                    (click)="markTicketAsAnswered()"
                    style="float: right; margin-right: 20px; background-color: #2E294E !important;">
              Mark as Answered
            </button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="row mb-2">
            <div class="col-auto col-md-auto">
              <strong class="bold-font" *ngIf="serviceName && !isRated && !isFeedback" style="font-size: 1rem">
                Service name: <span style="font-weight: normal; font-size: 1rem">{{serviceName}}</span>
              </strong>
            </div>
          </div>

          <div #ticketsChat class="card example-1 scrollbar-ripe-malinka not-container">
            <div *ngFor="let message of currentMessages">
              <div *ngIf="message.username === authService.getDecodedToken().username">
                <div class="row pull-right mw-85">
                  <div class="col-md-auto col-auto pl-4 pr-4 py-1">
                    <div class="row">
                      <div class="col-md-12 card pt-2">

                        <div class="row">
                          <div class="col-md-12">
                            <span>{{message.message}}</span>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12 pt-1" style="padding-right: 5px; padding-bottom: 5px">
                            <small class="float-right">{{message.messageTime | date: 'h:mm a'}}</small>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="message.username !== authService.getDecodedToken().username">
                <div class="row mw-85">
                  <div class="col-md-auto col-auto pl-4 py-1">
                    <div class="row">

                      <div class="col-md-12 card pt-2">
                        <div class="row">
                          <div class="col-auto col-md-auto p-1 py-2 ml-2">
                            <a routerLink="/user/{{message.userId}}">
                              <img alt="User pic"
                                   src="{{gravatar.getGravatarLink(message.email)}}?s=35&d=mp"
                                   class="img-responsive userPic"/>
                            </a>
                          </div>
                          <div class="col-auto col-md-auto">

                            <div class="row">
                              <div class="col-md-12">
                                <a routerLink="/user/{{message.userId}}"><u>{{message.username}}</u></a>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-12">
                                <span>{{message.message}}</span>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-12 pt-1" style="padding-right: 5px; padding-bottom: 5px">
                                <small class="float-right">{{message.messageTime | date: 'h:mm a'}}</small>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 bottom-card">
            <mat-card *ngIf="canPostMessage && canPostMessageApprover" style="padding: 0">
              <mat-card-content>
                <br>
                <div class="row px-3">
                  <div class="col-sm-9" style="padding-right: 0">
                    <textarea type="text" class="form-control z-depth-1 textarea-layout" rows="2" mdbInput
                        (keypress)="onKeyDown($event, 'message')"
                        [formControl]="message" placeholder="New message..."></textarea>
                    <div *ngIf="submittedMessage && message.errors" class="invalid-input">
                      <div *ngIf="message.errors['maxlength']">Max amount of symbols is 2000</div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <button [disabled]="isDisabled" mdbBtn color="unique" class="waves-light styledButton"
                            mdbWavesEffect
                            (click)="postTroubleTicketMessage()" *ngIf="canPostMessage && canPostMessageApprover"
                            matTooltip="If ticket is closed new message will reopen it"
                            aria-label="Send and reopen button"
                            [matTooltipPosition]="position" style="margin-top: 0;">
                      <span *ngIf="isAnswered">
                        Reopen
                      </span>
                      <span *ngIf="!isAnswered">
                        Send
                      </span>
                    </button>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

        </div>
      </div>



      <mat-card *ngIf="!isRated && !isFeedback && !isApprover && isAnswered" style="margin-top: 15px">
        <mat-card-content>
          <div class="row px-3">
            <div class="col-12">
              <label for="rating" style="font-size: 16px">Rate our work: </label>
              <ngb-rating class="pl-2" id="rating" [(rate)]="value" max="5"></ngb-rating>
              <div *ngIf="submittedFeedback" class="invalid-input">
                <div *ngIf="value < 1">Rate us please</div>
                <br>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-9" style="padding-right: 0">
              <textarea type="text" class="form-control z-depth-1 textarea-layout" rows="3" mdbInput
                        [formControl]="feedbackControl"
                        (keypress)="onKeyDown($event, 'feedback')"
                        placeholder="Feel free to leave this field empty or you can add feedback to you rating ..."></textarea>
              <div *ngIf="submittedFeedback && feedbackControl.errors" class="invalid-input">
                <div *ngIf="feedbackControl.errors['required']">Field is empty</div>
                <div *ngIf="feedbackControl.errors['maxlength']">Max amount of symbols is 2000</div>
              </div>
            </div>
            <div class="col-md-3" style="padding-left: 0">
              <button [disabled]="isDisabled" mdbBtn color="unique" class="waves-light styledButton" mdbWavesEffect
                      (click)="postTroubleTicketFeedback()" style="margin-top: 0">
                Leave feedback
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>


  </div>
  <br>
</div>


<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <label data-error="wrong" data-success="right" for="form34">Trouble ticket headline:</label>
          <input type="text" id="form34" class="form-control validate" mdbInput [formControl]="modalHeadline">
          <mat-error *ngIf="modalHeadline.hasError('maxlength')">Max amount of symbols is 2000</mat-error>
          <mat-error *ngIf="modalHeadline.hasError('minlength')">Max amount of symbols is 2000</mat-error>
          <mat-error *ngIf="modalHeadline.hasError('required')">Field is empty</mat-error>
        </div>

        <div class="md-form">
          <i class="fas fa-pencil-alt prefix grey-text"></i>
          <label data-error="wrong" data-success="right" for="form8">Your message:</label>
          <textarea type="text" id="form8" class="md-textarea form-control" rows="1" mdbInput
                    [formControl]="modalMessage"></textarea>
          <mat-error *ngIf="modalMessage.hasError('maxlength')">Max amount of symbols is 2000</mat-error>
          <mat-error *ngIf="modalMessage.hasError('required')">Field is empty</mat-error>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button [disabled]="modalHeadline.hasError('maxlength') || modalHeadline.hasError('minlength') || modalHeadline.hasError('required')
                || modalMessage.hasError('maxlength') || modalMessage.hasError('required')"
                mdbBtn color="unique" class="waves-light" mdbWavesEffect
                (click)="createTroubleTicket(); frame.hide()">
          Create
        </button>
      </div>
    </div>
  </div>
</div>
