.modal {
  margin-top: 41px;
}

.mark-layout {
  min-height: 60px;
  border-radius: 8px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.container {
  padding: 0;
  border-radius: 5px;
  margin-top: 20px;
  background-color: white;
  height: auto;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-ripe-malinka::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #2E294E !important;
}

.example-1 {
  padding: 5px 20px 5px 20px;
  position: relative;
  overflow-y: scroll;
  height: 500px;
}

.tickets-tab-list {
  position: relative;
  overflow-y: scroll;
  height: 200px;
}

.mat-slider-horizontal {
  width: 300px;
  color: #2E294E !important;
}

.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}

.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}

mdb-badge {
  background-color: #2E294E !important;
  float: right;
  margin-top: 15px;
}

.textarea-layout {
  resize: none;
}

.expanded-list {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;

}

.expanded-list:hover {
  background-color: #ddd;
}

mat-expansion-panel-header {
  background-color: #2E294E;
}

mat-expansion-panel-header:hover {
  background: #2E294E !important;
  color: white !important;
}

mat-panel-title {
  color: white;
}

.mat-expansion-panel-header.mat-expanded {
  background-color: #2E294E !important;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover {
  background-color: #2E294E !important;
}

.chosen-ticket {
  background-color: #E7E6F7;
}

.bold-font {
  font-weight: bold;
}

small {
  font-size: 10px;
  color: grey;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 !important;
}

::ng-deep .mat-expansion-indicator::after {
  color:  white !important;
}
