<div class="container mb-4">
  <div class="row pt-0 mt-0">
    <div class="offset-md-1"></div>
    <div class="col-md-10">

      <h2 *ngIf="!updateMode" align="center" class="mb-0">Add bundle</h2>
      <h2 *ngIf="updateMode" align="center" class="mb-0">Edit bundle</h2>

      <div *ngIf="error" align="center" class="alert alert-danger">{{error}}</div>

      <form (ngSubmit)="onSubmit()" [formGroup]="bundleForm" class="card-block card-content form-layout">

        <div>
          <label>Name</label>
          <input [ngClass]="{ 'is-invalid': submitted && form.name.errors }"
                 class="form-control"
                 formControlName="name"
                 name="name"
                 type="text">

          <div *ngIf="submitted && form.name.errors" class="invalid-input">
            <div *ngIf="form.name.errors.required">Name of bundle is required</div>
          </div>
        </div>

        <div>
          <label> Description </label>
          <textarea [ngClass]="{ 'is-invalid': submitted && form.description.errors }"
                    class="form-control"
                    formControlName="description"
                    name="description"
                    placeholder="Put your bundle description here"
                    rows="5"></textarea>

          <div *ngIf="submitted && form.description.errors" class="invalid-input">
            <div *ngIf="form.description.errors.required">Description is required</div>
          </div>
        </div>

        <div>
          <label> Number of People </label>
          <input (change)="numberOfPeopleChanged()"
                 [ngClass]="{ 'is-invalid': submitted && form.numberOfPeople.errors }"
                 class="form-control"
                 formControlName="numberOfPeople"
                 min="1"
                 max="10"
                 name="numberOfPeople"
                 type="number">

          <div *ngIf="submitted && form.numberOfPeople.errors" class="invalid-input">
            <div *ngIf="form.numberOfPeople.errors.required">Number of people is required</div>
            <div *ngIf="form.numberOfPeople.errors.min">Must be at least 1</div>
            <div *ngIf="form.numberOfPeople.errors.max">limit of 10 people exceeded</div>
          </div>
        </div>

        <div>
          <label>Trips</label>
          <angular2-multiselect (onSelect)="onTripSelect($event)"
                                [(ngModel)]="selectedItems"
                                [data]="itemList"
                                [settings]="settings"
                                class="form-control"
                                formControlName="bundleTrips"
                                name="bundleTrips">

          </angular2-multiselect>
          <div *ngIf="submitted" class="invalid-input">
            <div *ngIf="selectedItems.length<=1">More than 1 trip is required</div>
          </div>
        </div>

        <div>
          <label>Price</label>
          <input [ngClass]="{ 'is-invalid': submitted && form.price.errors }"
                 class="form-control"
                 formControlName="price"
                 min="1"
                 max="10000000"
                 name="price"
                 type="number"/>

          <div *ngIf="submitted && form.price.errors" class="invalid-input">
            <div *ngIf="form.price.errors.required">Price is required</div>
            <div *ngIf="form.price.errors.min">Must be at least 1$</div>
            <div *ngIf="form.price.errors.max">10000000$ limit exceeded</div>
          </div>
        </div>

        <div>
          <label for="inputGroupFile">Bundle picture</label>

          <div class="input-group">
            <div class="custom-file" id="inputFileDiv">
              <input aria-describedby="inputGroupFileAddon01" class="custom-file-input" id="inputGroupFile"
                     type="file" (change)="onFileChanged($event)">
              <label class="custom-file-label" for="inputGroupFile"
                     id="labelFile">{{currentPictureInputPlaceholder}}</label>
            </div>
          </div>
        </div>

        <button class="btn styledButton" color="primary" mdbBtn mdbWavesEffect type="submit">
          Create
        </button>

      </form>
    </div>
  </div>

  <div class="offset-3"></div>
</div>
