<div class="row mt-3">
  <div class="container">
    <div class="row">
      <div *ngIf="user.details.imageSrc !== null && user.details.imageSrc !== ''" class="col-md-8">
        <img alt="providerImg" class="img-responsive mainImage" src="{{user.details.imageSrc}}">
      </div>

      <div *ngIf="user.details.imageSrc === null || user.details.imageSrc === ''" class="col-md-8">
        <img
          alt="defaultTripImg"
          class="img-responsive mainImage"
          src="https://secure.instantsoftwareonline.com/StayUSA/PropertyImages/2397/PD%2077820%20MountainView/L1.jpg?h=eS9IOEloWWlmNEc4WTArNVhzTkg1QT09">
      </div>

      <div class="col-md-4 card headerCard">

        <div class="row pt-3">
          <div class="col-md-12 px-3 myHeaderText text-center">
            <b>{{user.username}}</b>
          </div>
        </div>

        <div class="row pt-3">
          <div class="col-md-12 px-3 myHeaderText text-center">
            <b>Subscriptions: {{subscriptions}}</b>
          </div>
        </div>

        <div class="row mt-auto mb-3">
          <div class="offset-md-2"></div>
          <div class="col-md-8" *ngIf="isViewable">
            <button [disabled]="isDisabled || authority != 'ROLE_USER'" block="true" (click)="toggleSub()"
                    class="buyButton styledButton text-coloured mx-auto"
                    color="deep-purple"
                    mat-stroked-button
                    mdbBtn
                    mdbWavesEffect>
              Subscribe
            </button>
          </div>
          <div class="col-md-8" *ngIf="!isViewable">
            <button [disabled]="isDisabled || authority != 'ROLE_USER'" block="true" (click)="toggleUnSub()"
                    class="buyButton styledButton text-coloured mx-auto"
                    color="deep-purple"
                    mat-stroked-button
                    mdbBtn
                    mdbWavesEffect>
              Unsubscribe
            </button>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


<!--/.Tour-->
<div class="row" id="test">
  <div class="col-md-3" *ngFor="let trip of trips">
    <mat-card class="tripCard">
      <mat-card-header>
        <!--<div mat-card-avatar class="tripCard-header-image"></div>-->
        <p>
          <mat-card-title>{{trip.name}}</mat-card-title>
        </p>
        <!--<mat-card-subtitle>{{trip.location.country}}</mat-card-subtitle>-->
      </mat-card-header>
      <!--<img height="110px" mat-card-image src={{trip.imgSrc}} alt="No picture available">-->

      <mat-card-content>
        <div *ngIf="trip.imgSrc !== null && trip.imgSrc !== ''">
          <img alt="tripImg" mat-card-image src="{{trip.imgSrc}}">
        </div>

        <div *ngIf="trip.imgSrc === null || trip.imgSrc === ''">
          <img
            alt="defaultTripImg"
            mat-card-image
            src="https://filetandvine.com/wp-content/uploads/2015/07/pix-uploaded-placeholder.jpg">
        </div>


        <div>
          <p class="pl-3">
            From {{trip.location.name}} to {{trip.destination.name}}
          </p>
        </div>


      </mat-card-content>
      <mat-card-actions>

        <label class="money-label">$ {{trip.price}}</label>
        <button mat-stroked-button class="right" mdbBtn color="info" mdbWavesEffect routerLink="/trip/{{trip.id}}">
          View details
        </button>

      </mat-card-actions>
    </mat-card>
  </div>

</div>
