.container, .grid-container {
  padding: 0;
  border-radius: 15px;
  margin-top: 20px;
  border: 30px solid #E7E6F7;
  background-color: #E7E6F7;
  height: auto;
}

.card-content {
  margin-top: 10px;
  margin-left: 50px;
  padding: 5px;
}

.content-width {
  width: 100%;
}

.headerCard {
  border-bottom-right-radius: 5px !important;
  border-top-right-radius: 5px !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
  //border-radius: 15px !important;
}

.roundedCard {
  border-radius: 5px !important;
}

.buyButton {
  bottom: 0;
}

.row {
  margin: 0;
}

.myHeaderText {
  //font-size: 2.5vw;
  font-size: 30px;
}

.myText {
  font-size: 20px;
}

.descriptionText {
  font-size: 20px;
}

.right {
  float: right;
  background-color: #2E294E !important;
}

div {
  padding: 0;
}

.mainImage {
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
  min-height: 27em;
  width: 100%;
  //border-radius: 15px;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}

.full {
  color: yellow;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: yellow;
}

.discountedPrice {
  color: green;
}

.oldPrice {
  font-size: 15px;
  color: #7f7f7f;
}

.greyComment {
  //background-color: #E9DDED;
  background-color: #F7F7F7;
}

.commentSection {
  padding-bottom: 0;
}

.commentFooter {
  border-bottom-right-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  color: #d3d3d3;
}

.smallerStar {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  color: #d3d3d3;
}

.full {
  color: #2E294E;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #2E294E;
}

.carousel-caption {
  margin-bottom: 5%;
}

#mb {
  background-color: #4183c4;
  border-radius: 10px;
}

#bundleSlider {
  padding-bottom: 46.25%;
}

.tripCard {
  max-width: 400px;
  padding-left: 0;
  padding-right: 0;
  margin: 20px;
  //background-size: cover;
  min-width: 200px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.carousel {
  max-height: 500px;
}

#bundleSlider {
  max-height: 400px
}

.mainPage {
  margin-right: 5%;
  margin-left: 5%;
}

#test {
  margin-right: 2%;
  margin-left: 2%;
}

.right {
  float: right;
  margin-right: 7%;
  background-color: #2E294E !important;
}

.money-label {
  color: darkgreen;
  text-decoration: #004444;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 120%;
  margin-left: 5%;
}

.filter {
  /*background-color: #ea8a11	;*/
  /*background-color: #BF7C44	;*/
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 10px;
}

.FindTour {
  width: 80%;
  height: 90%;
}

.aligncenter {
  width: auto;
  height: 0;
  border-top: 7px solid #2E294E;
  font-size: 0;
}

.row {
  margin: 0;
}

.multiselectMainPage {

}

ng-select .selected {
  display: none
}

.form-control {
  border: 0;
}

.mat-card-image {
  //float: right;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 150px;
}
