<div class="row pull-right mw-85">
    <div class="col-md-auto col-auto pl-4 pr-4 py-1">
        <div class="row">
            <div class="col-md-12 card pt-2">

                <div class="row">
                    <div class="col-md-12">
                        <span>{{message.message}}</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 pt-1" style="padding-right: 5px; padding-bottom: 5px">
                        <small class="float-right">{{message.time | date: 'h:mm a'}}</small>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
