<div class="grid-container">
  <mat-grid-list cols="2">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Productivity diagram
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div class="chart">
            <canvas [chartType]="doughnut"
                    [colors]="doughnutColors"
                    [datasets]="doughnutDataSets"
                    [labels]="doughnutLabels"
                    [legend]="true"
                    [options]="doughnutOptions"
                    mdbChart>
            </canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  <mat-grid-tile [colspan]="1" [rowspan]="2">
    <mat-card class="dashboard-card">
      <mat-card-header>
        <mat-card-title>
          Waiting diagram
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div class="chart">
          <canvas [chartType]="doughnutOfWaitingDiagram"
                  [colors]="doughnutColorsOfWaitingDiagram"
                  [datasets]="doughnutDataSetsOfWaitingDiagram"
                  [labels]="doughnutLabelsOfWaitingDiagram"
                  [legend]="true"
                  [options]="doughnutOptionsOfWaitingDiagram"
                  mdbChart>
          </canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  </mat-grid-list>
</div>
