.carousel-caption {
  margin-bottom: 5%;
}

#mb {
  background-color: #4183c4;
  border-radius: 10px;
}

#bundleSlider {
  padding-bottom: 46.25%;
}

.tripCard {
  max-width: 400px;
  padding-left: 0;
  padding-right: 0;
}

.tripCard {
  margin-top: 20px;
  //background-size: cover;
  min-width: 200px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.carousel slide carousel-fade {
  max-height: 500px;
}

#bundleSlider {
  max-height: 400px
}

.mainPage {
  margin-right: 5%;
  margin-left: 5%;
}

#test {
  margin-right: 2%;
  margin-left: 2%;
}

.right {
  float: right;
  margin-right: 7%;
  background-color: #2E294E !important;
}

.buttonForSelect {
  background-color: #2E294E !important;
}

.money-label {
  color: darkgreen;
  text-decoration: #004444;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 120%;
  margin-left: 5%;
}

.money-label-for-select {
  color: darkgreen;
  text-decoration: #004444;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
}

.filter {
  /*background-color: #ea8a11	;*/
  /*background-color: #BF7C44	;*/
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 10px;
}

//.FindTour {
//  margin-up: 20%;
//  width: 80%;
//  height: 90%;
//}

.aligncenter {
  width:auto;
  height:0;
  border-top: 7px solid #2E294E;
  font-size:0;
}

.row {
  margin: 0;
}

.multiselectMainPage {

}

//ng-select /deep/ select-dropdown .selected {
//  display: none
//}

//.form-control {
//  border: 0;
//}

.mat-slide-toggle-label {
  margin-bottom: 0;
}


.mat-card-image {
  //float: right;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 150px;
}

.tripSearch {
  background-color: #E7E6F7;
}

.noPaddingLeft {
  padding-left: 0;
}

.mat-slide-toggle.mat-checked {
  color: #2E294E !important;
  border-radius: 50%;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #5a5585;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #2E294E;
}

.FindTour {
  // margin-up: 20%;
  // width: 80%;
  height: 100%;
  color: #E7E6F7;
  font-size: 1.2rem;
}

.carousel {
  max-height: 600px;
}

.view {
  max-height: 600px;
}

@media (max-height: 500px) {
  .navbar:not(.top-nav-collapse) {
    background: #1C2331 !important;
  }
}

.styledButton {
  max-height: 80px;
}

