<!--Carousel-->
<!--<div class="carousel slide" data-ride="carousel" id="bundleSlider">-->

<!--&lt;!&ndash;<ol class="carousel-indicators">&ndash;&gt;-->
<!--&lt;!&ndash;<li data-target="#bundleSlider" *ngFor="let x of bundls;let i = index"&ndash;&gt;-->
<!--&lt;!&ndash;attr.data-slide-to="{{i}}" ngClass="i == 0 ? 'active' : ''">&ndash;&gt;-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;</ol>&ndash;&gt;-->

<!--<div class="carousel-inner" role="listbox">-->
<!--&lt;!&ndash;First slide is active&ndash;&gt;-->
<!--<div class="carousel-item active">-->
<!--<div class="d-block w-100 view">-->
<!--<img alt="First slide" class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg">-->
<!--</div>-->
<!--<div class="carousel-caption">-->
<!--<h3>Get more suggestion</h3>-->
<!--<button mat-raised-button>more discounts</button>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;All slides&ndash;&gt;-->
<!--<div *ngFor="let bundle of sliderBundeles" class="carousel-item">-->
<!--<div class="d-block w-100 view">-->
<!--<img alt={{bundle.description}} class="d-block w-100" src={{bundle.imgSrc}}>-->
<!--</div>-->
<!--<div class="carousel-caption">-->
<!--<h3>{{bundle.name}}</h3>-->
<!--<button mat-raised-button (click)="this.intoBundlePage(bundle.id)">More details</button>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;Controls&ndash;&gt;-->

<!--<a class="carousel-control-prev" data-slide="prev" href="#bundleSlider" role="button">-->
<!--<span aria-hidden="true" class="carousel-control-prev-icon"></span>-->
<!--<span class="sr-only">Previous</span>-->
<!--</a>-->
<!--<a class="carousel-control-next" data-slide="next" href="#bundleSlider" role="button">-->
<!--<span aria-hidden="true" class="carousel-control-next-icon"></span>-->
<!--<span class="sr-only">Next</span>-->
<!--</a>-->

<!--&lt;!&ndash;/.Controls&ndash;&gt;-->
<!--<div class="aligncenter">-</div>-->
<!--</div>-->
<!--&lt;!&ndash;/.Carousel Wrapper&ndash;&gt;-->


<div class="carousel slide carousel-fade" data-ride="carousel" id="carousel-example-1z">

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li class="active" data-slide-to="0" data-target="#carousel-example-1z"></li>
    <li data-slide-to="1" data-target="#carousel-example-1z"></li>
    <li data-slide-to="2" data-target="#carousel-example-1z"></li>
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">
      <div class="view">

        <!--Video source-->
        <video #firstVideo autoplay="autoplay" id="video" class="video-intro" loop [muted]="true" preload>
          <source src="https://mdbootstrap.com/img/video/city.mp4" type="video/mp4">
        </video>
        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

          <!-- Content -->
          <div class="text-center white-text mx-5 wow fadeIn"
               style="position: absolute;left:0;right: 0;  bottom: 70px;">

            <a routerLink="/bundles">
              <button class="btn-outline-white btn-lg"> View more</button>
            </a>

          </div>
          <!-- Content -->

        </div>
        <!-- Mask & flexbox options-->

      </div>
    </div>
    <!--/First slide-->

    <!--Second slide-->
    <div class="carousel-item">
      <div class="view">

        <!--Video source-->
        <video autoplay class="video-intro" loop [muted]="true" preload>
          <source src="https://mdbootstrap.com/img/video/forest.mp4" type="video/mp4">
        </video>

        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

          <!-- Content -->
          <div class="text-center white-text mx-5 wow fadeIn"
               style="position: absolute;left:0;right: 0;  bottom: 70px;">

            <a routerLink="/bundles">
              <button class="btn-outline-white btn-lg"> View more</button>
            </a>
          </div>
          <!-- Content -->

        </div>
        <!-- Mask & flexbox options-->

      </div>
    </div>
    <!--/Second slide-->

    <!--Third slide-->
    <div class="carousel-item">
      <div class="view">

        <!--Video source-->
        <video autoplay class="video-intro" loop [muted]="true" preload>
          <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4">
        </video>

        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

          <!-- Content -->
          <div class="text-center white-text mx-5 wow fadeIn"
               style="position: absolute;left:0;right: 0;  bottom: 70px;">

            <a routerLink="/bundles">
              <button class="btn-outline-white btn-lg"> View more</button>
            </a>

          </div>
          <!-- Content -->

        </div>
        <!-- Mask & flexbox options-->

      </div>
    </div>
    <!--/Third slide-->

  </div>
  <!--/.Slides-->

  <!--Controls-->
  <a class="carousel-control-prev" data-slide="prev" href="#carousel-example-1z" role="button">
    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" data-slide="next" href="#carousel-example-1z" role="button">
    <span aria-hidden="true" class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
  <div class="aligncenter">-</div>
</div>
<!--/.Carousel Wrapper-->


<br>




<!--/.Filter-->
<form [formGroup]="filterForm" (ngSubmit)="save()" *ngIf="authorized">
  <div class="row" style="margin: 0">

    <div class="col-md-12">

      <mat-card class="filter">
        <mat-card-header>
          <mat-card-title>Find best trips</mat-card-title>

          <mat-slide-toggle
            style="margin-bottom: 0 !important;"
            color="primary"
            [checked]="false"
            [disabled]="false"
            [formControl]="multiCountryModeControl">
            Multi-country search
          </mat-slide-toggle>

        </mat-card-header>

        <div class="row">

          <div class="col-md-2 px-2">

            <label for="locCountry">Dispatch country</label>
            <ng-select formControlName="locationCountry"
                       [items]="countries"
                       [loading]="countriesLoading"
                       bindLabel="name"
                       bindValue="name"
                       placeholder="Choose country..."
                       id="locCountry"
                       [ngClass]="{ 'invalid-select': submitted && filterForm.controls.locationCountry.errors}"
                       #myNgSelectComponent
                       *ngIf="!multiCountryModeControl.value">
            </ng-select>

            <ng-select formControlName="locationCountry"
                       [items]="countries"
                       bindLabel="name"
                       placeholder="Choose country..."
                       id="locCountryMulti"
                       [ngClass]="{ 'invalid-select': submitted && filterForm.controls.locationCountry.errors}"
                       #myNgSelectComponent
                       *ngIf="multiCountryModeControl.value">
            </ng-select>

            <!--<mat-form-field>-->
            <!--<mat-select placeholder="Country From"-->
            <!--class="form-control"-->
            <!--name="locCountry"-->
            <!--formControlName="locCountry"-->
            <!--id="locCountry"-->
            <!--[ngClass]="{ 'is-invalid': submitted && filterForm.controls.locCountry.errors}"-->
            <!--multiple>-->
            <!--<mat-option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</mat-option>-->
            <!--</mat-select>-->
            <!--</mat-form-field>-->

            <div *ngIf="submitted && filterForm.controls.locationCountry.errors" class="invalid-input">
              Field is required
            </div>

          </div>


          <div class="col-md-2 px-2">

            <label for="destCountry">Destination country</label>
            <ng-select formControlName="destinationCountry"
                       [items]="countries"
                       [loading]="countriesLoading"
                       bindLabel="name"
                       bindValue="name"
                       placeholder="Choose country..."
                       id="destCountry"
                       [ngClass]="{ 'invalid-select': submitted && filterForm.controls.destinationCountry.errors}"
                       #myNgSelectComponent
                       *ngIf="!multiCountryModeControl.value">
            </ng-select>

            <ng-select formControlName="destinationCountry"
                       [items]="countries"
                       [loading]="countriesLoading"
                       bindLabel="name"
                       placeholder="Choose countries..."
                       id="destCountryMult"
                       [multiple]="true"
                       [ngClass]="{ 'invalid-select': submitted && filterForm.controls.destinationCountry.errors}"
                       #myNgSelectComponent
                       *ngIf="multiCountryModeControl.value">
            </ng-select>

            <!--<mat-form-field>-->
            <!--<mat-select-->
            <!--class="form-control"-->
            <!--formControlName="destCountry"-->
            <!--id="destCountry"-->
            <!--name="destCountry"-->
            <!--placeholder="Country To"-->
            <!--[ngClass]="{ 'is-invalid': submitted && filterForm.controls.destCountry.errors}"-->
            <!--multiple>-->
            <!--<mat-option *ngFor="let country of countries" value="{{country.name}}">{{country.name}}</mat-option>-->
            <!--</mat-select>-->
            <!--</mat-form-field>-->

            <div *ngIf="submitted && filterForm.controls.destinationCountry.errors" class="invalid-input">
              Field is required
            </div>

          </div>

          <!--/.Price-->
          <div class="form-group col-md-2 px-2">
            <!--<mat-form-field class="example-margin">-->
            <!--<input-->
            <!--matInput-->
            <!--type="number"-->
            <!--min="1"-->
            <!--max="10"-->
            <!--class="form-control"-->
            <!--formControlName="numberOfPeople"-->
            <!--id="numPeople"-->
            <!--oninput="validity.valid||(value='');" placeholder="Number of people"-->
            <!--[ngClass]="{ 'is-invalid': submitted && filterForm.controls.numberOfPeople.errors}">-->
            <!--</mat-form-field>-->
            <label for="numPeople">Number of people</label>
            <input
              type="number"
              min="1"
              max="10"
              class="form-control"
              formControlName="numberOfPeople"
              id="numPeople"
              oninput="validity.valid||(value='');"
              placeholder=""
              [ngClass]="{ 'is-invalid': submitted && filterForm.controls.numberOfPeople.errors}"/>

            <div *ngIf="submitted && filterForm.controls.numberOfPeople.errors" class="invalid-input">
              <div *ngIf="filterForm.controls.numberOfPeople.errors.required">Field is required</div>
              <div *ngIf="filterForm.controls.numberOfPeople.errors.min">Must be at least 1 client</div>
              <div *ngIf="filterForm.controls.numberOfPeople.errors.max">10 clients max</div>
            </div>

          </div>


          <div class="form-group col-md-2 px-2">
            <!--<mat-form-field class="example-margin">-->
            <!--<input matInput-->
            <!--type="number"-->
            <!--min="1"-->
            <!--max="50000"-->
            <!--class="form-control"-->
            <!--formControlName="priceFrom"-->
            <!--id="minPrice"-->
            <!--oninput="validity.valid||(value='');"-->
            <!--placeholder="Min price"-->
            <!--[ngClass]="{ 'is-invalid': submitted && filterForm.controls.priceFrom.errors}">-->
            <!--</mat-form-field>-->
            <label for="minPrice">Minimum price</label>
            <input type="number"
                   min="1"
                   max="50000"
                   class="form-control"
                   formControlName="priceFrom"
                   id="minPrice"
                   oninput="validity.valid||(value='');"
                   placeholder="Price from..."
                   [ngClass]="{ 'is-invalid': submitted && filterForm.controls.priceFrom.errors}"/>

            <div *ngIf="submitted && filterForm.controls.priceFrom.errors" class="invalid-input">
              <div *ngIf="filterForm.controls.priceFrom.errors.required">Field is required</div>
              <div *ngIf="filterForm.controls.priceFrom.errors.min">Must be at least 1 $</div>
              <div *ngIf="filterForm.controls.priceFrom.errors.max">100 000 max price</div>
            </div>

          </div>


          <div class="form-group col-md-2 px-2">
            <!--<mat-form-field class="example-margin">-->
            <!--<input matInput-->
            <!--type="number"-->
            <!--min="1"-->
            <!--max="50000"-->
            <!--class="form-control"-->
            <!--formControlName="priceTo"-->
            <!--id="maxPrice"-->
            <!--oninput="validity.valid||(value='');"-->
            <!--placeholder="Maximum price"-->
            <!--[ngClass]="{ 'is-invalid': submitted && filterForm.controls.priceTo.errors}">-->
            <!--</mat-form-field>-->
            <label for="maxPrice">Maximum price</label>
            <input matInput
                   type="number"
                   min="1"
                   max="50000"
                   class="form-control"
                   formControlName="priceTo"
                   id="maxPrice"
                   oninput="validity.valid||(value='');"
                   placeholder="Price to..."
                   [ngClass]="{ 'is-invalid': submitted && filterForm.controls.priceTo.errors}"/>

            <div *ngIf="submitted && filterForm.controls.priceTo.errors" class="invalid-input">
              <div *ngIf="filterForm.controls.priceTo.errors.required">Field is required</div>
              <div *ngIf="filterForm.controls.priceTo.errors.min">Must be at least 1 $</div>
              <div *ngIf="filterForm.controls.priceTo.errors.max">100 000 max price</div>
            </div>

          </div>

          <!--/.Find button-->
          <div class="form-group col-md-2">
            <button type="submit" mat-stroked-button mdbBtn [block]="true" class="styledButton FindTour mt-1"
                    color="indigo" mdbWavesEffect>Find trips
              <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
            </button>
          </div>

        </div>

      </mat-card>

    </div>

  </div>
</form>

<div *ngIf="result == 0">
  <!--/.Tour-->
  <div class="row" id="test">
    <div class="col-md-3" *ngFor="let trip of trips">
      <mat-card class="tripCard">
        <mat-card-header>
          <!--<div mat-card-avatar class="tripCard-header-image"></div>-->
          <p>
            <mat-card-title>{{trip.name}}</mat-card-title>
          </p>
          <!--<mat-card-subtitle>{{trip.location.country}}</mat-card-subtitle>-->
        </mat-card-header>
        <!--<img height="110px" mat-card-image src={{trip.imgSrc}} alt="No picture available">-->

        <mat-card-content>
          <div *ngIf="trip.imgSrc !== null && trip.imgSrc !== ''">
            <img alt="tripImg" mat-card-image src="{{trip.imgSrc}}">
          </div>

          <div *ngIf="trip.imgSrc === null || trip.imgSrc === ''">
            <img
              alt="defaultTripImg"
              mat-card-image
              src="https://filetandvine.com/wp-content/uploads/2015/07/pix-uploaded-placeholder.jpg">
          </div>


          <div>
            <p class="pl-3">
              From {{trip.location.name}} to {{trip.destination.name}}
            </p>
          </div>


        </mat-card-content>
        <mat-card-actions>

          <label class="money-label">$ {{trip.price}}</label>
          <a routerLink="/trip/{{trip.id}}">
            <button mat-stroked-button class="right" mdbBtn color="info" mdbWavesEffect
                    (click)=this.intoTripPage(trip.id)>
              View details
            </button>
          </a>

        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div>

<br><br>

<div *ngIf="result==1">
  <div class="row">

    <div class="col-md-4">
      <mat-card class="tripSearch">

        <div class="container">
          <div class="row justify-content-center align-items-center">
            <mat-card-header>
              <!--<div mat-card-avatar class="tripCard-header-image"></div>-->

              <mat-card-title>Top rated</mat-card-title>

              <!--<mat-card-subtitle>{{trip.location.country}}</mat-card-subtitle>-->
            </mat-card-header>
          </div>
        </div>


        <div class="col-md-12" *ngFor="let trip of searchedByRating">
          <mat-card class="tripCard">
            <mat-card-header>
              <!--<div mat-card-avatar class="tripCard-header-image"></div>-->
              <p>
                <mat-card-title>{{trip.name}}</mat-card-title>
              </p>
              <!--<mat-card-subtitle>{{trip.location.country}}</mat-card-subtitle>-->
            </mat-card-header>
            <!--<img height="110px" mat-card-image src={{trip.imgSrc}} alt="No picture available">-->

            <mat-card-content>
              <div *ngIf="trip.imgSrc !== null && trip.imgSrc !== ''">
                <img alt="tripImg" mat-card-image src="{{trip.imgSrc}}">
              </div>

              <div *ngIf="trip.imgSrc === null || trip.imgSrc === ''">
                <img
                  alt="defaultTripImg"
                  mat-card-image
                  src="https://filetandvine.com/wp-content/uploads/2015/07/pix-uploaded-placeholder.jpg">
              </div>


              <div>
                <p class="pl-3">
                  From {{trip.location.name}} to {{trip.destination.name}}
                </p>
              </div>


            </mat-card-content>
            <mat-card-actions>

              <label class="money-label">$ {{trip.price}}</label>
              <a routerLink="/trip/{{trip.id}}">
                <button mat-stroked-button class="right" mdbBtn color="info" mdbWavesEffect
                        (click)=this.intoTripPage(trip.id)>
                  View details
                </button>
              </a>

            </mat-card-actions>
          </mat-card>
        </div>
      </mat-card>
    </div>


    <div class="col-md-4">

      <mat-card class="tripSearch">

        <div class="container">
          <div class="row justify-content-center align-items-center">
            <mat-card-header>
              <!--<div mat-card-avatar class="tripCard-header-image"></div>-->

              <mat-card-title>Optimal for you</mat-card-title>

              <!--<mat-card-subtitle>{{trip.location.country}}</mat-card-subtitle>-->
            </mat-card-header>
          </div>
        </div>

        <div class="col-md-12" *ngFor="let trip of searchesByProvider">
          <mat-card class="tripCard">
            <mat-card-header>
              <!--<div mat-card-avatar class="tripCard-header-image"></div>-->
              <p>
                <mat-card-title>{{trip.name}}</mat-card-title>
              </p>
              <!--<mat-card-subtitle>{{trip.location.country}}</mat-card-subtitle>-->
            </mat-card-header>
            <!--<img height="110px" mat-card-image src={{trip.imgSrc}} alt="No picture available">-->

            <mat-card-content>
              <div *ngIf="trip.imgSrc !== null && trip.imgSrc !== ''">
                <img alt="tripImg" mat-card-image src="{{trip.imgSrc}}">
              </div>

              <div *ngIf="trip.imgSrc === null || trip.imgSrc === ''">
                <img
                  alt="defaultTripImg"
                  mat-card-image
                  src="https://filetandvine.com/wp-content/uploads/2015/07/pix-uploaded-placeholder.jpg">
              </div>


              <div>
                <p class="pl-3">
                  From {{trip.location.name}} to {{trip.destination.name}}
                </p>
              </div>


            </mat-card-content>
            <mat-card-actions>

              <label class="money-label">$ {{trip.price}}</label>
              <a routerLink="/trip/{{trip.id}}">
                <button mat-stroked-button class="right" mdbBtn color="info" mdbWavesEffect
                        (click)=this.intoTripPage(trip.id)>
                  View details
                </button>
              </a>

            </mat-card-actions>
          </mat-card>
        </div>
      </mat-card>
    </div>


    <div class="col-md-4">
      <mat-card class="tripSearch">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <mat-card-header>
              <!--<div mat-card-avatar class="tripCard-header-image"></div>-->

              <mat-card-title>Top discount</mat-card-title>

              <!--<mat-card-subtitle>{{trip.location.country}}</mat-card-subtitle>-->
            </mat-card-header>
          </div>
        </div>

        <div class="col-md-12" *ngFor="let trip of searchedByDiscount">
          <mat-card class="tripCard">
            <mat-card-header>
              <!--<div mat-card-avatar class="tripCard-header-image"></div>-->
              <p>
                <mat-card-title>{{trip.name}}</mat-card-title>
              </p>
              <!--<mat-card-subtitle>{{trip.location.country}}</mat-card-subtitle>-->
            </mat-card-header>
            <!--<img height="110px" mat-card-image src={{trip.imgSrc}} alt="No picture available">-->

            <mat-card-content>
              <div *ngIf="trip.imgSrc !== null && trip.imgSrc !== ''">
                <img alt="tripImg" mat-card-image src="{{trip.imgSrc}}">
              </div>

              <div *ngIf="trip.imgSrc === null || trip.imgSrc === ''">
                <img
                  alt="defaultTripImg"
                  mat-card-image
                  src="https://filetandvine.com/wp-content/uploads/2015/07/pix-uploaded-placeholder.jpg">
              </div>


              <div>
                <p class="pl-3">
                  From {{trip.location.name}} to {{trip.destination.name}}
                </p>
              </div>


            </mat-card-content>
            <mat-card-actions>

              <label class="money-label">$ {{trip.price}}</label>
              <a routerLink="/trip/{{trip.id}}">
                <button mat-stroked-button class="right" mdbBtn color="info" mdbWavesEffect
                        (click)=this.intoTripPage(trip.id)>
                  View details
                </button>
              </a>

            </mat-card-actions>
          </mat-card>
        </div>
      </mat-card>
    </div>

  </div>
</div>

<div *ngIf="result==2">
  <div class="row">
    <div class="col-md-6">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <h3>
            Tours with best price
          </h3>
        </div>
      </div>

      <mat-card class="tripSearch">
        <div class="col-md-12" *ngFor="let tripArray of searchedByPrice">
          <mat-card>
            <div class="col-md-12" *ngFor="let trip of tripArray">
              <br>
              <div class="row">
                <div class="col-md-6">
                  <div *ngIf="trip.imgSrc !== null && trip.imgSrc !== ''">
                    <img alt="tripImg" mat-card-image src="{{trip.imgSrc}}">
                  </div>

                  <div *ngIf="trip.imgSrc === null || trip.imgSrc === ''">
                    <img
                      alt="defaultTripImg"
                      mat-card-image
                      src="https://filetandvine.com/wp-content/uploads/2015/07/pix-uploaded-placeholder.jpg">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <h5>
                      {{trip.name}}
                    </h5>
                  </div>

                  <div class="row">
                    <br>
                    <div class="noPaddingLeft col-md-4">
                      <label class="money-label-for-select">${{trip.price}}</label>
                    </div>
                    <div class="col-md-8">
                      <a routerLink="/trip/{{trip.id}}">
                        <button mat-stroked-button class="buttonForSelect" mdbBtn color="info" mdbWavesEffect
                                (click)=this.intoTripPage(trip.id)>
                          View details
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </mat-card>
          <br>
        </div>
      </mat-card>
    </div>


    <div class="col-md-6">
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <h3>
            Tours with the shortest road
          </h3>
        </div>
      </div>

      <mat-card class="tripSearch">
        <div class="col-md-12" *ngFor="let tripArray of searchedByLength">
          <mat-card>
            <div class="col-md-12" *ngFor="let trip of tripArray">
              <br>
              <div class="row">
                <div class="col-md-6">
                  <div *ngIf="trip.imgSrc !== null && trip.imgSrc !== ''">
                    <img alt="tripImg" mat-card-image src="{{trip.imgSrc}}">
                  </div>

                  <div *ngIf="trip.imgSrc === null || trip.imgSrc === ''">
                    <img
                      alt="defaultTripImg"
                      mat-card-image
                      src="https://filetandvine.com/wp-content/uploads/2015/07/pix-uploaded-placeholder.jpg">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="row">
                    <h5>
                      {{trip.name}}
                    </h5>
                  </div>

                  <div class="row">
                    <br>
                    <div class="noPaddingLeft col-md-4">
                      <label class="money-label-for-select">${{trip.price}}</label>
                    </div>
                    <div class="col-md-8">
                      <a routerLink="/trip/{{trip.id}}">
                        <button mat-stroked-button class="buttonForSelect" mdbBtn color="info" mdbWavesEffect
                                (click)=this.intoTripPage(trip.id)>
                          View details
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </mat-card>
          <br>
        </div>
      </mat-card>
    </div>

  </div>
</div>


<br><br>



