<div class="container">

  <div *ngIf="showTable">

    <div *ngIf="isAdmin" class="row">

      <button (click)="switchMode()" class="btn float-left btn-sm mx-5 mb-3 styledButton" color="info" mdbBtn
              mdbWavesEffect type="button">
        Add new bundle
      </button>
    </div>

    <div class="row">
      <div class="col-md-12 pb-3">
        <app-data-table [editable]="editable"
                        [url]="url"
                        [deleting]="deleting"
                        [records]="bundles"
                        [settings]="bundlesTableSettings"
                        [tableName]="tableName"
                        (deleteEvent)="delete($event)">
        </app-data-table>
      </div>
    </div>

  </div>

  <div *ngIf="!showTable">

    <div class="row">
      <button (click)="switchMode()" class="btn float-left btn-sm mx-5 mb-3 styledButton" color="info" mdbBtn
              mdbWavesEffect type="button">
        Back
      </button>
    </div>

    <div class="row">
      <div class="col-md-12">
        <app-bundle-form></app-bundle-form>
      </div>
    </div>

  </div>
</div>
