<div class="col-md-12">
  <div #chatWindow class="card chat-list scrollbar-ripe-malinka">
    <div *ngFor="let message of listOfChatMessages">
      <div *ngIf="message.username !== currentUserName">
        <app-someones-message
          [message]="message"
          [gravatarLink]="gravatarLink"
        ></app-someones-message>
      </div>
      <div *ngIf="message.username === currentUserName">
        <app-your-own-message [message]="message"></app-your-own-message>
      </div>
    </div>
  </div>

  <div class="col-12 bottom-card">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <div class="col-10">
            <div>
              <textarea #input
                        (keypress)="onKeyDown($event, input.value)"
                        class="textarea-layout from-control z-depth-1"
                        [(ngModel)]="inputValue"
                        type="text"
                        mdbInput
                        placeholder="New message..."
                        rows="3">
              </textarea>
            </div>
          </div>
          <div class="col-2" style="padding-left: 0">
            <button (click)="sendMessage(input.value); input.value = null" class="btn btn-info btn-md btn-send"
                    type="button" style="width: 100%; margin: 0">Send
            </button>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
