<div class="row" style="width: 100%">
  <div class="offset-2"></div>
  <div class="col-8">
    <div class="container">
      <mat-tab-group>
        <div class="card card-layout">
          <mat-tab label="Services" class="tabBorderPadding">
            <div *ngIf="!serviceNotifications?.length">
              <div class="card card-body">
                <strong>
                  There is no notifications yet
                </strong>
              </div>
            </div>
            <div *ngFor="let notification of serviceNotifications" class="not-container">

              <div class="card not-hover not-layout">
                <div class="row justify-content-center align-items-center">

                  <div class="col-9" style="margin-top: 15px;">

                    <p><strong class="status" [ngClass]="notification.serviceStatus">{{notification.serviceStatus}}: </strong>
                      {{notification.serviceTypeName}} - <a
                        routerLink="/trip/{{notification.serviceId}}">"{{notification.serviceName}}"</a>
                      by
                      <a routerLink="/user/{{notification.userId}}"><u>{{notification.username}}</u></a>
                    </p>

                  </div>

                  <div class="col-2">
                    <small>{{notification.notificationTime | date: 'MMMM d, h:mm:ss a'}}</small>
                  </div>

                  <div class="col-1">
                    <button type="button" class="close" aria-label="Close" style="outline: none;"
                            (click)="deleteServiceNot(notification)">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <br>
          </mat-tab>

          <mat-tab label="Trouble tickets" class="tabBorderPadding" *ngIf="role !== 'ROLE_PROVIDER'">
            <div *ngIf="!troubleTicketsNotifications?.length">
              <div class="card card-body">
                <strong>
                  There is no notifications yet
                </strong>
              </div>
            </div>
            <div *ngFor="let notification of troubleTicketsNotifications" class="not-container">
              <div class="card not-hover not-layout">
                <div class="row justify-content-center align-items-center">

                  <div class="col-9" style="margin-top: 15px;">
                    <p><strong class="status" [ngClass]="notification.troubleTicketStatus">{{notification.troubleTicketStatus}}: </strong>
                      Trouble <a (click)="setTicketDataAndRedirect(notification.troubleTicketId)">ticket #{{notification.troubleTicketId}}</a>
                      by
                      <a routerLink="/user/{{notification.userId}}"><u>{{notification.username}}</u></a>
                    </p>
                  </div>

                  <div class="col-2">
                    <small>{{notification.notificationTime | date: 'MMMM d, h:mm:ss a'}}</small>
                  </div>

                  <div class="col-1">
                    <button type="button" class="close" aria-label="Close" style="outline: none;"
                            (click)="deleteTicketNot(notification)">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </mat-tab>

          <mat-tab label="Messages" class="tabBorderPadding">
            <div *ngIf="!messageNotifications?.length">
              <div class="card card-body">
                <strong>
                  There is no messages yet
                </strong>
              </div>
            </div>
            <div *ngFor="let notification of messageNotifications" class="not-container">
              <div class="card not-hover not-layout">
                <div class="row justify-content-center align-items-center">

                  <div class="col-9" style="margin-top: 15px;" *ngIf="notification.troubleTicketId">
                    <p><strong class="status NewMessage">New message: </strong> on trouble
                      <a (click)="setTicketDataAndRedirect(notification.troubleTicketId)">ticket #{{notification.troubleTicketId}}</a>
                      from
                      <a routerLink="/user/{{notification.userId}}"><u>{{notification.username}}</u></a>
                    </p>
                  </div>

                  <div class="col-9" style="margin-top: 15px;" *ngIf="notification.serviceId">
                    <p><strong class="status NewMessage">New message: </strong> in
                      <a (click)="setTicketDataAndRedirect(notification.troubleTicketId)">chat</a>
                      from
                      <a routerLink="/user/{{notification.userId}}"><u>{{notification.username}}</u></a>
                    </p>
                  </div>

                  <div class="col-2">
                    <small>{{notification.notificationTime | date: 'MMMM d, h:mm:ss a'}}</small>
                  </div>

                  <div class="col-1">
                    <button type="button" class="close" aria-label="Close" style="outline: none;"
                            (click)="deleteTicketNot(notification)">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                </div>
              </div>
              <br>
            </div>
          </mat-tab>

        </div>
      </mat-tab-group>
    </div>
  </div>
  <div class="offset-2"></div>
</div>

