.not-container {
  padding: 5px 20px 5px 20px;
}

.not-hover:hover {
  box-shadow: 1px 8px 20px grey;
  -webkit-transition: box-shadow ease-in;
}

.not-layout {
  min-height: 60px;
  padding: 10px 5px 10px 5px;
  border-radius: 8px;
}

.container {
  padding: 0;
  border-radius: 15px;
  margin-top: 20px;
  background-color: white;
  height: auto;
}

.read {
  background-color: #D3D3D3;
}

///deep/ .mat-checkbox-checked.mat-accent .mat-checkbox-background,
//.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background
//{
//  background-color: #2E294E !important;
//}

u {
  color: black;
}

