<div class="container mb-4">
  <div class="row pt-0 mt-0">
    <div class="offset-md-1"></div>
    <div class="col-md-10">
      ​
      <h2 *ngIf="!editMode" align="center" class="mb-0">Add discount</h2>
      <h2 *ngIf="editMode" align="center" class="mb-0">Edit discount</h2>

      <div *ngIf="error" align="center" class="alert alert-danger">{{error}}</div>
      ​
      <div class="row mb-0">
        <div *ngIf="!editMode" class="form-group col-md-12">
          <label for="serviceControl">Discounted trip or suggestion</label>

          <ng-select [formControl]="serviceControl"
                     [items]="availableServices"
                     bindLabel="name"
                     bindValue="id"
                     id="serviceControl">
          </ng-select>
        </div>

        <div *ngIf="editMode" class="form-group col-md-12">
          <label for="serviceControlReadonly">Discounted trip or suggestion</label>
          <select [formControl]="serviceControl"
                  class="form-control"
                  id="serviceControlReadonly"
                  readonly="true">
            <option [value]="editableDiscount.serviceId">{{editableDiscount.service.name}}</option>
          </select>
        </div>
      </div>


      <form (ngSubmit)="saveDiscount(discountForm.value)"
            *ngIf="serviceControl.value != null && serviceControl.value != 0"
            [formGroup]="discountForm"
            class="pt-0 mt-0">
        ​
        <div class="row">

          <div class="col-md-6 px-1">
            <div class="form-row">

              <div *ngIf="!startDatePassed" class="form-group col-md-12">
                <label for="inputStartDate">Discount start date</label>
                <input [ngClass]="{ 'is-invalid': submitted && discountForm.controls.startDate.errors }"
                       class="form-control"
                       formControlName="startDate"
                       id="inputStartDate"
                       max="3000-01-01"
                       min="2019-01-01"
                       type="date"
                       value="{{startDate}}"/>

                <div *ngIf="submitted && discountForm.controls.startDate.errors" class="invalid-input">
                  <div *ngIf="discountForm.controls.startDate.errors.required">Field is required</div>
                  <div *ngIf="discountForm.controls.startDate.errors.startDate">Start date must be tomorrow or later
                  </div>
                </div>

              </div>

              <div *ngIf="startDatePassed" class="form-group col-md-12">
                <label for="inputEditStartDate">Discount start date</label>
                <input class="form-control"
                       formControlName="startDate"
                       id="inputEditStartDate"
                       readonly
                       type="date"
                       value="{{startDate}}"/>
              </div>

            </div>

            <div class="form-row">

              <div *ngIf="!endDatePassed" class="form-group col-md-12">
                <label for="inputEndDate">Discount end date</label>
                <input [ngClass]="{ 'is-invalid': submitted && discountForm.controls.endDate.errors }"
                       class="form-control"
                       formControlName="endDate"
                       id="inputEndDate"
                       max="3000-01-01"
                       min="2019-01-01"
                       type="date"
                       value="{{endDate}}"/>
                <div *ngIf="submitted && discountForm.controls.endDate.errors" class="invalid-input">
                  <div *ngIf="discountForm.controls.endDate.errors.required">Field is required</div>
                  <div *ngIf="discountForm.controls.endDate.errors.dateOrder">Incorrect date order</div>
                </div>

              </div>

              <div *ngIf="endDatePassed" class="form-group col-md-12">
                <label for="inputEditEndDate">Discount end date</label>
                <input class="form-control"
                       formControlName="endDate"
                       id="inputEditEndDate"
                       type="date"
                       value="{{endDate}}"/>
              </div>

            </div>

            <div class="form-row">

              <div *ngIf="!startDatePassed" class="form-group col-md-12">
                <label for="discountType">Discount type</label>
                <select (change)="selectChangeHandler($event)"
                        [ngClass]="{ 'is-invalid': submitted && discountForm.controls.type.errors }"
                        class="form-control"
                        formControlName="type"
                        id="discountType">
                  <option value={{FixedDiscountType}}>Fixed</option>
                  <option value={{PercentageDiscountType}}>Percentage</option>
                </select>

                <div *ngIf="submitted && discountForm.controls.type.errors" class="invalid-input">
                  <div *ngIf="discountForm.controls.type.errors.required">Field is required</div>
                </div>

              </div>

              <div *ngIf="startDatePassed" class="form-group col-md-12">
                <label for="discountEditType">Discount type</label>
                <select class="form-control"
                        formControlName="type"
                        id="discountEditType"
                        readonly>
                  <option value={{FixedDiscountType}}>Fixed</option>
                  <option value={{PercentageDiscountType}}>Percentage</option>
                </select>
              </div>

            </div>

            <div class="form-row">

              <div *ngIf="!startDatePassed" class="col-md-12">
                <label for="discountAmount">Amount</label>
                <div class="input-group ">
                  <input [ngClass]="{ 'is-invalid': submitted && discountForm.controls.amount.errors }"
                         aria-describedby="symbol-addon"
                         class="form-control"
                         formControlName="amount"
                         id="discountAmount"
                         placeholder="Amount of your suggestion discount"
                         type="number"/>
                  <div class="input-group-append">
                    <span class="input-group-text" id="symbol-addon">{{discountSymbol}}</span>
                  </div>
                </div>

                <div *ngIf="submitted && discountForm.controls.amount.errors" class="invalid-input">
                  <div *ngIf="discountForm.controls.amount.errors.required">Field is required</div>
                  <div *ngIf="discountForm.controls.amount.errors.min">Must be at least 0.1 or more</div>
                  <div *ngIf="discountForm.controls.amount.errors.wrongPercentage">Wrong percentage</div>
                  <div *ngIf="discountForm.controls.amount.errors.invalidDiscount">Discount can't be
                    bigger then price
                  </div>
                </div>
              </div>

              <div *ngIf="startDatePassed" class="col-md-12">
                <label for="discountAmount">Amount</label>
                <div class="input-group ">
                  <input aria-describedby="symbol-edit-addon"
                         class="form-control"
                         formControlName="amount"
                         id="discountEditAmount"
                         readonly
                         type="number"/>
                  <div class="input-group-append">
                    <span class="input-group-text" id="symbol-edit-addon">{{discountSymbol}}</span>
                  </div>
                </div>

              </div>

            </div>

          </div>

          <div class="col-md-6 px-1">

            <div class="form-row">
              <div class="offset-md-3"></div>
              <div class="form-group col-md-9">
                <label for="inputBasePrice">Base price</label>
                <input class="form-control"
                       id="inputBasePrice"
                       readonly
                       type="text"
                       [value]="basePrice">
              </div>
            </div>

            <div class="form-row">
              <div class="offset-md-3"></div>
              <div class="form-group col-md-9">
                <label for="inputDiscount">Discount</label>
                <input class="form-control"
                       id="inputDiscount"
                       readonly
                       type="text"
                       [value]="discount">
              </div>
            </div>

            <div class="form-row">
              <div class="offset-md-3"></div>
              <div class="form-group col-md-9">
                <label for="inputFinalPrice">Price with discount</label>
                <input class="form-control"
                       id="inputFinalPrice"
                       readonly
                       type="text"
                       [value]="finalPrice">
              </div>
            </div>

            <div class="form-row mt-4">

              <div class="offset-md-3"></div>

              <div *ngIf="editMode" class="col-md-6 px-1 my-auto">
                <button class="btn redButton" data-target="#discountDeletionModal" data-toggle="modal" type="button">
                  Deactivate
                </button>
              </div>

              <div *ngIf="editMode" class="col-md-3 col-auto px-1 my-auto">
                <button class="btn float-right submitButton styledButton" color="success" mdbBtn mdbWavesEffect
                        type="submit">
                  Submit
                  <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                </button>
              </div>

              <div *ngIf="!editMode" class="col-md-9 col-auto px-1 my-auto">
                <button class="btn float-right submitButton styledButton" color="success" mdbBtn mdbWavesEffect
                        type="submit">
                  Submit
                  <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
                </button>
              </div>
            </div>

          </div>

        </div>

      </form>

    </div>
  </div>
  <div class="offset-3"></div>
</div>


<div class="modal fade" id="discountDeletionModal" tabindex="-1" role="dialog"
     aria-labelledby="discountDeletionModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="discountDeletionModalLabel">Discount deactivation confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure that you want to deactivate this discount?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn styledButton" data-dismiss="modal">Close</button>
        <button type="button" class="btn redButton" (click)="deactivateDiscount()">
          Deactivate <i *ngIf="deactivationLoading" class="fa fa-spinner fa-spin"></i></button>
      </div>
    </div>
  </div>
</div>

