<div class="chat-container">
  <div class="row no-gutters">
    <div class="offset-1"></div>

    <div class="col-10">
      <div class="row">
        <div class="col-md-12">
          <app-chat-template
            [currentUserName]="token.username"
            [gravatarLink]="gravatar.getGravatarLink(token.email)"
            [listOfChatMessages]="messages"
            (sendMessageEvent)="sendMessage($event)"></app-chat-template>
        </div>
      </div>
    </div>
    <div class="offset-1"></div>
  </div>
</div>
