

strong {
  font-weight: bold;
}

small {
  font-size: 10px;
  color: grey;
}

u {
  color: black;
  outline: none;
}

u:hover {
  cursor: pointer;
}

.btn-send {
  background-color: #2E294E !important;
  margin-top: 0;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 10px;
}

.scrollbar-ripe-malinka::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #2E294E !important;
}

.bold-font {
  font-weight: bold;
}
