td {
  width: 100px;
  font-size: 20px;
  padding-left: 5px;
}

th {
  font-size: 24px;
  padding-left: 5px;
}

tr {
  border-top: 1px solid #95a5a6;
}

table thead, th {
  background: #ecf0f1;
}

table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-style: hidden;
}

.head {
  font-weight: bolder;
  font-size: 30px;
}

mdb-badge {
  font-size: 30px;
}

h5 mdb-badge {
  font-size: 20px;
  alignment: left !important;
}

ul mdb-icon {
  margin-right: 10px;
}

