<div class="container">
  <div class="row ">
    <div class="offset-4"></div>
    <div class="col-md-4">
      <table borderless="true" mdbTable>
        <h5 class="head">Subscriptions</h5>
        <tbody>
        <div *ngFor="let provider of providers" class="row">
          <tr>
            <td>
              <a routerLink="/provider/{{provider.id}}">{{provider.username}}</a>
            </td>
            <td>
              <button type="button" class="close" aria-label="Close" (click)="deleteOne(provider)">
                <span aria-hidden="true">&times;</span>
              </button>
            </td>
          </tr>
        </div>

        </tbody>
      </table>
    </div>
    <div class="offset-4"></div>
  </div>
</div>
