<div *ngFor="let service of services" class="row records">
  <div class="col-10">
    <div class="record">
      <div class="col-12 row">
        <!--routerLink="trip/{{service.id}}-->
        <a (click)="onTabChange(service.id)">{{service.name}}</a>
      </div>
      <div class="col-12 row">
        <p>{{service.location.country.name}}, {{service.location.name}} ->
          {{service.destination.country.name}} , {{service.destination.name}}</p>
      </div>
      <div class="col-12 row">
        <p><b>${{service.price}}</b></p>
      </div>
    </div>
  </div>
  <div class="col-2">
    <button (click)="delOne(service)" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div>
  <ng-container #outletchild>
  </ng-container>
</div>

<ng-template #contentchild>
  <app-user-basket-total-price></app-user-basket-total-price>
</ng-template>
