<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        table td {
            padding: 5px;
            width: 50%;
        }
    </style>
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
        <td align="center" bgcolor="white" style="">
            <img src="https://i.ibb.co/zJczS6m/java.png"
                 alt="java" style="display: block;"/>
        </td>
    </tr>
    <tr>
        <td align="center" style="">
            <p>To check new trip click on the button below</p>
        </td>
    </tr>
    <tr>
        <td align="center" style="">
            <a th:href="${message}">
                <button style=" background-color: #1fcecb;
                                border: 0;
                                border-radius: 0;
                                width: 200px;
                                height: 50px;
                                font-size: 20px;">Click me
                </button>
            </a>
        </td>
    </tr>
    <tr>
        <td align="center">
            <p>TripGod Inc.</p>
        </td>
    </tr>
</table>

</body>
</html>