<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>
        table td {
            padding: 5px;
            font-size: 18px;
            width: 50%;
        }
    </style>
</head>
<body>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;">
    <tr>
        <td align="center" bgcolor="white" colspan="2" style="">
            <img alt="java"
                 src="https://i.ibb.co/zJczS6m/java.png" style="display: block;"/>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="2" style="">
            <p>Your credentials:</p>
        </td>
    </tr>
    <tr>
        <td style="text-align: right">
            <p>Username: </p>
        </td>
        <td style="">
            <p><b th:text="${username}"></b></p>
        </td>
    </tr>
    <tr>
        <td style="text-align: right">
            <p>Password: </p>
        </td>
        <td style="">
            <p><b th:text="${password}"></b></p>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="2" style="">
            <p>Remember credentials and delete this email for security purposes</p>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="2">
            <p>TripGod Inc.</p>
        </td>
    </tr>
</table>

</body>
</html>
