<div class="row mw-85">
    <div class="col-md-auto col-auto pl-4 py-1">
        <div class="row">

            <div class="col-md-12 card pt-2">
                <div class="row">
                    <div class="col-auto col-md-auto p-1 py-2 ml-2">
                        <a routerLink="/user/{{message.userId}}">
                            <img alt="User pic"
                                 src="{{gravatarLink}}?s=35&d=mp"
                                 class="img-responsive userPic"/>
                        </a>
                    </div>
                    <div class="col-auto col-md-auto">

                        <div class="row">
                            <div class="col-md-12">
                                <a routerLink="/user/{{message.userId}}"><u>{{message.username}}</u></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <span>{{message.message}}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 pt-1" style="padding-right: 5px; padding-bottom: 5px">
                                <small class="float-right">{{message.time | date: 'h:mm a'}}</small>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
